<div class="container mt-2 mx-2">
	<h4>List of membership types</h4>
	<div class="table-responsive">
		<table class="table table-striped w-50">
			<thead>
				<tr>
					<th>Membership Type</th>
					<th>Renewal Period</th>
					<th>Renewal Price</th>
          <th>Active Flag</th>
          <th colspan="2">Modify</th>
				</tr>
			</thead>
				<tbody>
					<% @memberships.each do |membership| %>
						<tr>
							<td><%= membership.membership_type %></td>
              <td><%= membership.renewal_period %></td>
              <td><%= membership.renewal_price %></td>
							<td><%=  membership.active_flag.humanize %></td>
							<td><%= link_to 'Edit', edit_membership_path(membership), class: "btn btn-primary btn-sm"%></td>
						</tr>
					<% end %>
				</tbody>
		</table>
	</div>
	<div class="mb-5 pb-5">
	<%= link_to 'Add a new membership type', new_membership_path, class: "btn btn-primary btn-sm"%>
	</div>
</div>