<div class="container mx-2 my-2">
	<div class="row text-center justify-content-center" >
    <h4 class="text-center mt-4 mb-4">Reset Password</h4>
    <div class="col-sm-10 col-md-6">
			<%= form_for(@user, url: password_reset_path(params[:id]), class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <%= hidden_field_tag :email, @user.email %>
        <div class="form-group row p-2" >
          <%= f.label :password, class: "col col-12 col-md-6 col-form-label" %>
          <div class="col col-12 col-md-6 ">	
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Enter new password" %>
          </div>
        </div>
        <div class="form-group row p-2" >
          <%= f.label :password_confirmation, class: "col col-12 col-md-6 col-form-label" %>
          <div class="col col-12 col-md-6 ">	
            <%= f.password_field :password_confirmation, class: "form-control shadow rounded", placeholder: "Confirm new password" %>
          </div>
        </div>
				<%= f.submit "Update Password", class:"btn btn-primary" %>
			<% end %>	
		</div>
	</div>
</div>


      