<div class="container">
	<div class="row text-center justify-content-center" >
  <h4>Editing a specific hour</h4>
    <div class="col col-sm-10 col-md-6">
      <%= render 'shared/errors', obj: @hour %>
        <%= form_with(model: @hour, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
          <%= f.hidden_field :hour, value: @hour.hour %>
          <div class="form-group row m-3" >
              <%= f.label :hour, class: "col col-form-label" %>
            <div class="col form-control">
              <%= @hour.hour %>
            </div>
          </div>	
          <div class="form-group row m-3" >
              <%= f.label :active_flag, class: "col col-form-label" %>
            <div class="col">
              <%= f.check_box :active_flag, class: "form-check-label" %>
            </div>
          </div>
          <%= link_to "Close", hours_path, class:"btn btn-secondary" %>
          <%= f.submit class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
