<%= form_with(model: @aircraft, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
  <div class="form-group row m-3" >
      <%= f.label :name, class: "col col-form-label" %>
    <div class="col">
      <%= f.text_field :name, class: "input-group-text form-control" %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :short_name, class: "col col-form-label" %>
    <div class="col">
      <%= f.text_field :short_name, class: "input-group-text form-control" %>
    </div>
  </div>	
  <div class="form-group row m-3" >
      <%= f.label :group, class: "col col-form-label" %>
    <div class="col">
      <%= f.select :group, options_for_select(["club", "private", "towplane"]),{}, {class: "input-group-text form-control"} %>
    </div>
    <div class="form-group row m-3" >
      <%= f.label :last_maintenance, class: "col col-form-label" %>
    <div class="col">
      <%= f.date_field :last_maintenance, class: "input-group-text form-control" %>
    </div>
  </div>	
  </div>	
  <div class="form-group row m-3" >
      <%= f.label :active_flag, class: "col col-form-label" %>
    <div class="col">
      <%= f.check_box :active_flag, class: "form-check-label" %>
    </div>
  </div>
  <%= link_to "Back to aircraft list", aircrafts_path, :class => "btn btn-secondary" %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>