<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-10">
      <div class="row justify-content-center">
				<div class="col">
					<h4>Aircraft managed by this club</h4>
					<p class="text-muted">Private aircraft are managed here but assigned only to the owner in Aircraft Users</p>
				</div>
				<div class="col">
					<div class="row">
						<div class="col">
							<%= link_to 'Add aircraft', new_aircraft_path, :class => "btn btn-primary" %>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col flickr_pagination">	
							<%= will_paginate @aircrafts, :container => false %>
						</div>	
					</div>		
				</div>	
			<div class="row">
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Aircraft Name</th>
							<th>Short Name </th>
							<th>Group</th>
							<th>Last Maint.</th>
							<th>Hours Flown</th>
							<th>Active</th>
							<th colspan="2">Modify Aircraft</th>
						</tr>
					</thead>
						<tbody>
							<% @aircrafts.each do |aircraft| %>
								<tr>
									<td><%= aircraft.name %></td>
									<td><%= aircraft.short_name %></td>
									<td><%= aircraft.group %></td>
									<td><%= aircraft.last_maintenance %></td>
									<td>
										<% if aircraft.group != 'towplane' %>
											<%= Flight.where(aircraft_id: aircraft, flight_date: aircraft.last_maintenance..Date.today ).sum(:flight_time)/60 %>.<%= Flight.where(aircraft_id: aircraft, flight_date: aircraft.last_maintenance..Date.today ).sum(:flight_time)%60/6 %>
										<% else %>
											<% if Tow.where(aircraft_id: aircraft.id).blank?  %>
												0
											<% elsif Tow.order('tows.tow_date ASC').where(tow_date: ..aircraft.last_maintenance).last.blank? %>
												<%= Tow.order('tows.tow_date ASC').where(tow_date: ..Date.today).last.tach_end - Tow.order('tows.tow_date ASC').where(tow_date: ..Date.today).first.tach_end %>
											<% else %>
												<%= Tow.order('tows.tow_date ASC').where(tow_date: ..Date.today).last.tach_end - Tow.order('tows.tow_date ASC').where(tow_date: ..aircraft.last_maintenance).last.tach_end %>
											<% end %>		
										<% end %>
									</td>
									<td><%= aircraft.active_flag.humanize %></td>
									<td><%= link_to 'Details', aircraft_path(aircraft), class: "btn btn-info btn-sm"%></td>
									<td><%= link_to 'Edit', edit_aircraft_path(aircraft), class: "btn btn-primary btn-sm"%></td>
								</tr>
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

