<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-10">
      <div class="row justify-content-center">
				<div class="col mt-2">
					<h4>Show Aircraft details</h4>
				</div>
				<div class="col mt-2">
					<%= link_to 'Back to aircraft list', aircrafts_path, :class => "btn btn-primary btn-sm mb-5" %>
				</div>
				<div class="row">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Aircraft Name</th>
									<th>Short Name </th>
									<th>Group</th>
									<th>Last Maintenance</th>
									<th>Active flag</th>
									<th colspan="2">Modify</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= @aircraft.name %></td>
									<td><%= @aircraft.short_name %></td>
									<td><%= @aircraft.group %></td>
									<td><%= @aircraft.last_maintenance %></td>
									<td><%=  @aircraft.active_flag.humanize %></td>
									<td><%= link_to 'Edit', edit_aircraft_path(@aircraft), class: "btn btn-primary btn-sm"%></td>
								</tr>
							</tbody>
						</table>
					</div>
				<% if @aircraft.group != 'towplane' %>
					<div class="mt-4">
						<h6>This aircraft has flown <%= @flightcount %> flights, and <%= @flighthours/60 %>.<%= @flighthours%60/6 %> hours of flight time since last maintenance</h6>
					</div>
					<div class="mt-4 col">
						<h6>The following flights have been logged on this aircraft</h6>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Date of Flight</th>
									<th>Username</th>
									<th>Aircraft</th>
									<th>Tow Height  </th>
									<th>Flight Time  </th>
									<th>Rope Break  </th>
								</tr>
							</thead>
								<tbody>
									<% @aircraft.flights.each do |flight| %>
										<tr>
											<td><%= flight.reservation.reservation_date %></td>
											<td><%= flight.user.username %></td>
											<td><%= flight.aircraft.short_name %></td>
											<td><%= flight.tow_height %></td>
											<td><%= flight.flight_time %></td>
											<td><%= flight.rope_break.humanize %></td>
										</tr>
										<% end %>
								</tbody>
						</table>
					</div>	
				<% else %>
					<div class="mt-4">
					<h6>This aircraft has flown <%= @sumtows %> tows, and <%= @sumtowhours %> hours of flight time since last maintenance</h6>
					</div>
					<div class="mt-4 col">
					<h6>The following tow logs have been logged on this aircraft</h6>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Date of Tow Log</th>
									<th>Username</th>
									<th>Aircraft</th>
									<th>Tach Start</th>
									<th>Tach End</th>
									<th>Tow Count</th>
									<th>Releases</th>
									<th>Fuel Added</th>
									<th>Oil Added</th>
								</tr>
							</thead>
								<tbody>
									<% @aircraft.tows.each do |tow| %>
										<tr>
											<td><%= tow.reservation.reservation_date %></td>
											<td><%= tow.user.username %></td>
											<td><%= tow.aircraft.short_name %></td>
											<td><%= tow.tach_start %></td>
											<td><%= tow.tach_end %></td>
											<td><%= tow.tows %></td>
											<td><%= tow.releases %></td>
											<td><%= tow.fuel_added %></td>
											<td><%= tow.oil_added %></td>	
										</tr>
										<% end %>
								</tbody>
						</table>
					</div>
				<% end %>		
				</div>
			</div>
		</div>
	</div>		
</div>