<div class="container">
<h2>Modify a flight</h2>
	<div class="row justify-content-start ml-5" >
    <div class="col-sm-10 col-md-6">
      <%= render 'shared/errors', obj: @flight %>
        <%= form_for [@reservation, @flight], html: {class: "shadow p-3 mb-3 bg-info rounded", data: { turbo: false }, local: true}  do |f| %>
            <%= f.hidden_field :user_id, value: @flight.user_id %>
						<%= f.hidden_field :user_id, value: @flight.flight_date %>
            <div class="form-group row p-2" >
            <%= f.label :aircraft, class: "col col-form-label text-light" %>
            <div class="col">  
              <%= f.select :aircraft_id, options_for_select(has_privileges_in.map { |obj| [obj[:short_name], obj[:id]] }), {}, {class: "input-group-text"} %>
            </div>
          </div>
            <div class="form-group row p-2" >
            <%= f.label :tow_height, class: "col col-form-label text-light" %>
            <div class="col">
              <%= f.number_field :tow_height, class: "input-group-text" %>
            </div>
          </div>	
          <div class="form-group row p-2" >
            <%= f.label :flight_time, class: "col col-form-label text-light" %>
            <div class="col">
              <%= f.number_field :flight_time, class: "input-group-text" %>
            </div>
          </div>	
          <!-- Remove rope break for now
          <div class="form-group row p-2" >
            <%= f.label :rope_break, class: "col col-form-label text-light" %>
            <div class="col">
              <%= f.check_box :rope_break, class: "form-check-label" %>
            </div>
          </div>
          -->
          <!-- only bring up instructor list if instructor was selected in reservation -->
          <% if @reservation.instructor_flag == true %>
          <div class="form-group row p-2" >
            <%= f.label :instructor, class: "col col-form-label text-light" %>
            <div class="col">
              <%= f.collection_select(:instructor_id, User.where(id: Permission.where(instructor: true).ids), 'id', 'username', {}, {class: "input-group-text"}) %>
            </div>
          </div>
          <% else %>
          <div></div>
          <% end %>
        <%= f.submit class:"btn btn-outline-light btn-lg col" %>
      <% end %>
      <%= link_to "Cancel and return to reservation", reservation_path(@reservation), :class => "btn btn-secondary" %>
    </div>
  </div>
</div>