<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-">
      <div class="row justify-content-center m-3">
				<div class="col">
          <h4>Users with no aircraft privileges</h4>
        </div>
        
        <div class="row m-2">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Add Aircraft</th>
                  <th>Profile pic</th>
                  <th>Username</th>
                  <th>Status</th>
                  <th colspan="2">Allowed to reserve</th>
                </tr>
              </thead>
              <tbody>
                <% @unassigned_users.each do |user| %>
                  <tr>
                    <td><%= link_to 'Add aircraft', new_aircraft_user_path(:id => user.id), :class => "btn btn-primary btn-sm" %>
                    <td><%= gravatar_for user, size: 50 %></td>
                    <td><%= user.username %></td>
                    <td><%= user.status %></td>
                    <td>No privileges assigned</td>  
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 mt-3">
            <h4>Users with aircraft privileges</h4>
            <p class="text-muted">Reservation options will be limited to only the aircraft assigned in this table</p>
          </div>
          <div class="col-12 col-md-7 mt-3">
            <div class="row my-2">
              <div class="col flickr_pagination">	
                <%= will_paginate @assigned_users, :container => false %>
              </div>	
            </div>
          </div>  		
				</div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Add aircraft</th>
                  <th>Profile pic</th>
                  <th>Username</th>
                  <th>Status</th>
                  <th colspan="2">Allowed to reserve</th>
                </tr>
              </thead>
              <tbody>
                <% @assigned_users.each do |user| %>
                  <tr>
                    <td><%= link_to 'Add aircraft', new_aircraft_user_path(:id => user.id), :class => "btn btn-primary btn-sm" %>
                    <td><%= gravatar_for user, size: 50 %></td>
                    <td><%= user.username %></td>
                    <td><%= user.status %></td>
                    <td>
                      <% AircraftUser.where(user_id: user.id).each do |aircraftuser| %>
                      <div class="row">
                        <div class="col p-1">
                          <%= Aircraft.find(aircraftuser.aircraft_id).short_name %>
                        </div>
                        <div class="col p-1">  
                          <%= button_to "delete", aircraftuser, method: :delete, :class => "btn btn-warning btn-sm" %>
                        </div>
                      </div>
                      <% end %>
                    </td>  
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>  
    </div>
  </div>        
</div>