<p style="color: green"><%= notice %></p>

<%= render @towfee %>

<div>
  <%= link_to "Edit this towfee", edit_towfee_path(@towfee) %> |
  <%= link_to "Back to towfees", towfees_path %>

  <%= button_to "Destroy this towfee", @towfee, method: :delete %>
</div>
