<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-12">
      <div class="row justify-content-center">
				<div class="col">
					<h4>List of Email Requests</h4>
					<p class="text-muted">Email Requests are all inbound requests from the non-member site.<br>
					These are shown so that proper action can be taken and emails are not lost.</p>
          <p class="text-muted">Archive is used to show that we have responded or set up a reservation (for a RTH flight, for example). 
          Delete is used to remove spam and trash that makes it past the ReCaptcha validation </p>
				</div>
				<div class="col">
            <div class="row mt-2">
              <div class="col flickr_pagination">	
                <%= will_paginate @active_email_requests, :container => false %>
              </div>	
            </div>
          </div>  		
			<div class="row">
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr><small>
							<th>ID</th>
							<th>Date</th>
							<th>Email</th>
							<th>Subject Line</th>
              <th>Email Category</th>
              <th colspan="3">Email Actions</th>
						</small></tr>
					</thead>
						<tbody>
							<% @active_email_requests.each do |active_email_request| %>
								<tr>
									<td><small><%= active_email_request.id %></small></td>
                  <td><small><%= active_email_request.date %></small></td>
									<td><small><%= active_email_request.email %></small></td>
									<td><small><%= active_email_request.subject %></small></td>
									<td><small>
										<% if active_email_request.ride? %>
											<%= 'Ride Request' %>
										<% elsif active_email_request.membership? %>
											<%= 'Membership Request' %>
										<% elsif active_email_request.instruction? %>
											<%= 'Instruction Request' %>
										<% elsif active_email_request.general? %>
											<%= 'Generic Inquiry' %>
										<% end %>
									</small></td>	
                  <td><small><%= link_to 'Read Contents', email_request_path(active_email_request), class: "badge badge-primary"%><br>
										<%= link_to 'Forward to Email', forward_email_path(:id => active_email_request.id), class: "badge badge-success" %></small></td>

									<td><small><%= link_to 'Delete', email_request_path(active_email_request), class: "badge badge-warning", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %><br>
										<%= link_to 'Archive', update_email_request_path(active_email_request, :archive => true), class: "badge badge-warning"%></small></td>

									<td><small><%= link_to 'Post to Ride Trello', trello_ride_request_path(:id => active_email_request.id), class: "badge badge-secondary" %><br>
										<%= link_to 'Post to Member Trello', trello_membership_request_path(:id => active_email_request.id), class: "badge badge-secondary" %></small></td>



								</tr>
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

