<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-12">
      <div class="row justify-content-center">
				<div class="col">
					<h4>Flight logs</h4>
					<p class="text-muted">Flight logs only include flights entered on reservations.<br>
					To see all reservations, including those with no flights added yet, check Reservations log.<br>
					Search and date picker functions to be added later.<br>
					Export displays all flights that have already occurred from beginning of year to today's date.</p>
				</div>
				<div class="col align-text-middle">
					<%= link_to 'Export to CSV', '/admin/flights.csv', :class => "btn btn-primary" %>
				</div>	
			<div class="row">
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><small>Reservation ID</small></th>
							<th><small>Flight ID</small></th>
							<th><small>Date</small></th>
							<th><small>Name</small></th>
							<th><small>Aircraft</small></th>
              <th><small>Instructor</small></th>
							<th><small>RTH Ride</small></th>
							<th><small>Flight Count</small></th>
              <th><small>Flight Minutes</small></th>
							<th><small>Tow Height</small></th>
              <th><small>Fees</small></th>
              <th><small>Status</small></th>
              <th><small>Payment Method</small></th>
              <th><small>Description</small></th>
							<th><small>Modify</small></th>

						</tr>
					</thead>
						<tbody>
							<% @flights.each do |flight| %>
								<tr>
									<td><small><%= flight.reservation_id %></small></td>
									<td><small><%= flight.id %></small></td>
									<td><small><%= flight.flight_date %></small></td>
									<td><small><%= flight.user.username %></small></td>
									<td><small><%= flight.aircraft.short_name %></small></td>
									<td><small><%= flight.reservation.instructor_flag.humanize %></small></td>
									<td><small><%= flight.reservation.rth_flag.humanize %></small></td>
                  <td><small><%= 1 %></small></td>
                  <td><small><%= flight.flight_time %></small></td>
									<td><small><%= flight.tow_height %></small></td>
                  <td><small><!-- change flight fees to $180 for rth flights, also do this in models/flight.rb -->
										<% if flight.reservation.rth_flag == true %>
											180.0
										<% else %>	
											<%= flight.fees %>
										<% end %>
									</small></td>
									<td><small>
										<% if flight.reservation.status == 'open' && flight.reservation.reservation_date > Date.today %>
											Upcoming
										<% elsif flight.reservation.status == 'open' && flight.reservation.reservation_date < 5.days.ago %>
											Payment Past Due
										<% else %>
										<%= flight.reservation.status %> 
										<% end %>
										</small></td>
									<td><small><%= flight.reservation.method %></small></td>
									<td><small><%= flight.reservation.description %></small></td>
									<td><small><%= link_to 'Edit', edit_admin_flight_path(flight), class: "btn btn-primary btn-sm"%></small></td>
								</tr>
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

