<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-12">
      <div class="row justify-content-center">
				<div class="col">
					<h4>Reservation logs</h4>
					<p class="text-muted">Reservation logs excludes towplane reservations.<br>
					Search and date picker functions to be added later.<br>
					Export displays all reservations that have already occurred from beginning of year to today's date.</p>
				</div>
				<div class="col align-text-middle">
					<%= link_to 'Export to CSV', '/admin/reservations.csv', :class => "btn btn-primary" %>
				</div>	
			<div class="row">
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><small>ID</small></th>
							<th><small>Date</small></th>
							<th><small>Name</small></th>
							<th><small>Aircraft</small></th>
              <th><small>Instructor</small></th>
							<th><small>Flight Count</small></th>
              <th><small>Flight Minutes</small></th>
              <th><small>Fees</small></th>
              <th><small>Status</small></th>
              <th><small>Payment Method</small></th>
              <th><small>Description</small></th>
							<th colspan="2"><small>Update Status</small></th>
						</tr>
					</thead>
						<tbody>
							<% @reservations.each do |reservation| %>
								<tr>
									<td><small><%= reservation.id %></small></td>
									<td><small><%= reservation.reservation_date %></small></td>
									<td><small><%= reservation.user.username %></small></td>
									<td><small><%= reservation.aircraft.short_name %></small></td>
									<td><small><%= reservation.instructor_flag.humanize %></small></td>
                  <td><small><%= reservation.flights.count %></small></td>
                  <td><small><%= reservation.flights.pluck(:flight_time).sum(&:to_i) %></small></td>
                  <td><small><%= reservation.rth_flag? ? '$180.00' : number_to_currency(reservation.flights.pluck(:fees).sum) %></small></td>
									<td><small>
										<% if reservation.status == 'open' && reservation.reservation_date > Date.today %>
											Upcoming
										<% elsif reservation.status == 'open' && reservation.reservation_date < 5.days.ago %>
											Payment Past Due
										<% else %>
										<%= reservation.status %> 
										<% end %>
										</small></td>
									<td><small><%= reservation.method %></small></td>
									<td><small><%= reservation.description %></small></td>
									<td><small><%= link_to 'Edit', edit_admin_reservation_path(reservation), class: "btn btn-primary btn-sm"%></small></td>
									<td><small><% if reservation.status == 'open' %>
															<%= link_to "Delete", delete_admin_reservation_path(reservation), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %>
														<% else %>
														<% end %>
									</td>

								</tr>
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

