<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-12">
      <div class="row justify-content-center">
				<div class="col">
					<h4>Reservation logs</h4>
					<p class="text-muted">Reservation logs excludes towplane reservations.<br>
					Search and date picker functions to be added later.<br>
					Export displays all reservations that have already occurred from beginning of year to today's date.</p>
				</div>
				<div class="col align-text-middle">
					<%= link_to 'Export to CSV', '/admin/reservations.csv', :class => "btn btn-primary" %>
				</div>	
			<div class="row">
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Date</th>
							<th>Name</th>
							<th>Aircraft</th>
              <th>Instructor</th>
							<th>Flight Count</th>
              <th>Flight Minutes</th>
              <th>Fees</th>
              <th>Status</th>
              <th>Payment Method</th>
              <th>Description</th>
							<th colspan="2">Update Status</th>
						</tr>
					</thead>
						<tbody>
							<% @reservations.each do |reservation| %>
								<tr>
									<td><%= reservation.id %></td>
									<td><%= reservation.reservation_date %></td>
									<td><%= reservation.user.username %></td>
									<td><%= reservation.aircraft.short_name %></td>
									<td><%= reservation.instructor_flag.humanize %></td>
                  <td><%= reservation.flights.count %></td>
                  <td><%= reservation.flights.pluck(:flight_time).sum %></td>
                  <td><%= reservation.rth_flag? ? '$180.00' : number_to_currency(reservation.flights.pluck(:fees).sum) %></td>
									<td>
										<% if reservation.status == 'open' && reservation.reservation_date > Date.today %>
											Upcoming
										<% elsif reservation.status == 'open' && reservation.reservation_date < 5.days.ago %>
											Payment Past Due
										<% else %>
										<%= reservation.status %> 
										<% end %>
									</td>
									<td><%= reservation.method %></td>
									<td><%= reservation.description %></td>
									<td><%= link_to 'Edit', edit_admin_reservation_path(reservation), class: "btn btn-primary btn-sm"%></td>
								</tr>
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

