<div class="mt-2 mx-2 mb-5">
<h4>List of Users</h4>
<h8>Removed the ability to delete users until null user error handling is built</h8>
<div class="col-7">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
      <th>Activated</th>
      <th colspan="3">View User</th>
		</tr>
	</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.username %></td>
          <td><%= user.email %></td>
					<td><%= user.activated.humanize %></td>
					<td><%= link_to 'Details', user_path(user), class: "btn btn-info btn-sm"%></td>
					<td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary btn-sm"%></td>
          <!-- <td><%= link_to "Delete", user_path(user),class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td> -->
				</tr>
			<% end %>
		</tbody>
</table>
<%= link_to 'Add a new user', new_user_path, :class => "btn btn-primary btn-sm mb-5" %>

</div>
</div>