
<div class="container mt-2 mb-5 pb-5">
	<div class="row">
		<div class="col justify-content-center">
      <div class="col-sm-10 col-md-8 ">
			  <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-header fst-italic">
            <div class="row">
              <div class="col-2 text-start justify-content-start">
                <%= gravatar_for @user, size: 100 %>
              </div>
              <div class="col text-end justify-content-end">
                <%= link_to 'Update Personal Info', edit_profile_path(@user), class: "btn btn-primary btn-sm"%>
              </div>
            </div>
          </div>    
          <div class="card-body justify-content-start">
            <ul class="list-group list-group-flush ">
              <li class="list-group-item lead pb-3">Personal Info</li>
                <d1 class="row">
                  <dt class="col-sm-4 ps-4 pt-2">Username</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.username %></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Email</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.email %></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Phone Number</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Date of Birth</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Address</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Address 2</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">City</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">State</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Zip Code</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Emergency Contact</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Emergency Phone</dt>
                  <dd class="col-sm-8 pt-2 pb-4"></dd>  
                  
              </d1> 
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead">Club Info</li>
                <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Current Membership</dt>
                  <dd class="col-sm-8 pt-2"><%= @membership_info.membership_type %> member: renews on <%= @my_renewal_date.strftime("%a, %b %d, %Y") %>  </dd>

                <dt class="col-sm-4 ps-4 pt-2">Aircraft Privileges</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.privileges_in.map {|x| x.values[1]} %>  </dd>

                <dt class="col-sm-4 ps-4 pt-2">Site Permissions</dt>
                  <dd class="col-sm-8 pt-2">
                    <p>Instructor: <%= @user.permission.instructor.humanize %></p>
                    <p>User admin: <%= @user.permission.user_admin.humanize %></p>
                    <p>Club admin: <%= @user.permission.club_admin.humanize %></p>
                    <p>Site admin: <%= @user.permission.site_admin.humanize %></p>
                    <p>Global admin: <%= @user.permission.global_admin.humanize %></p>
                  </dd>
								</d1>
                <ul class="list-group list-group-flush">
              		<li class="list-group-item lead">Login Info</li>
                		<d1 class="row">
                			<dt class="col-sm-4 ps-4 pt-2">Profile Created</dt>
												<dd class="col-sm-8 pt-2"><%= @user.created_at.strftime("%m/%d/%y") %></dd>
											<dt class="col-sm-4 ps-4 pt-2">Profile Updated</dt>
												<dd class="col-sm-8 pt-2"><%= @user.updated_at.strftime("%m/%d/%y") %></dd>
											<dt class="col-sm-4 ps-4 pt-2">Account Activated</dt>
												<dd class="col-sm-8 pt-2"><%= @user.activated.humanize %></dd>
											<dt class="col-sm-4 ps-4 pt-2">Password Reset Sent</dt>
												<dd class="col-sm-8 pt-2"><%= @user.reset_sent_at %></dd>
											</d1>
                    


          </div>
          <div class="row card-footer text-body-secondary">
						<div class="col input-group justify-content-start">
							<% if logged_in? && current_user.permission.user_admin? %>
								<%= link_to 'Go back to users list', users_path, :class => "btn btn-primary btn-sm mb-5" %>
							<% else %>	
								<%= link_to 'Go back to Profile Page', profile_index_path, :class => "btn btn-primary btn-sm mb-5" %>
							<% end %>	

					</div>
					</div>

          </div>






    </div>
   </div>
 </div>   