  <div class="content-wrapper">
    <div class="container">
      <section class="digital-marketing-service" id="club-info-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5 flex-item grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">More than 70 years<br> of soaring in Middle Tennessee</h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">Eagleville Soaring is a Soaring Society of America (SSA) Chapter Club operation<br>
                 located in beautiful Middle Tennessee at Puckett Gliderport (50M) approximately 30 miles south of Nashville.</p>
              <p class="font-weight-medium text-muted">We have been flying gliders in Eagleville, TN since the 1950s.</p>
            </div>    
          </div>
          <div class="col-12 col-lg-7 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
          <%= image_tag("1690722449753blob.jpg", :alt => "", :class => "img-fluid") %>
          </div>
        </div>
      </div>
        <br>
      <div class="container-fluid" style="background-color:#f7f8fa">  
        <div class="container">
        <br><br>
          <div class="row align-items-center">
            <div class="col-12 col-lg-7 img-digital grid-margin" data-aos="fade-right">
            <%= image_tag("picasabackground-046.jpg", :alt => "", :class => "img-fluid") %>
            </div>
            <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
              <h3 class="m-0">Soar with eagles<br> or learn to fly like one</h3>
              <div class="col-lg-9 col-xl-8 p-0">
                <p class="py-4 m-0 text-muted">If you’ve ever spotted a hawk gracefully gliding high overhead, effortlessly floating along on air currents, <br>
                  and wondered what that must feel like, now you can know!</p>
                <p class="pb-2 font-weight-medium text-muted">Eagleville Soaring club offers glider rides and pilot lessons at Puckett Gliderport, our home airfield just a half-hour drive from Nashville.</p>
              </div>
              <%= link_to "Contact Us", new_email_request_path, :class => "btn btn-primary" %>

            </div>
          </div>
        </div>
      </div>  
      </section>     
      <section class="case-studies" id="read-more-section">
        <div class="container">
          <div class="row grid-margin">
            <div class="col-12 text-center pb-5">
            </div>
            <div class="col-12 col-md-6 col-lg-4 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
              <div class="card color-cards">
                <div class="card-body p-0">
                  <div class="bg-primary text-center card-contents">
                    <div class="card-image">
                      <%= image_tag("fly_with_us.jpg", :class => "case-studies-card-img", :alt => "") %>
                    </div>  
                    <div class="card-desc-box d-flex align-items-center justify-content-around">
                      <div>
                        <h6 class="text-white pb-2 px-3">Find out how to fly with us</h6>
                        <a class="btn btn-white" href="#fly-with-us">Read More</a>
                      </div>
                    </div>
                  </div>   
                  <div class="card-details text-center pt-4">
                      <h6 class="m-0 pb-1">Fly with us</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="card color-cards">
                <div class="card-body p-0">
                  <div class="bg-primary text-center card-contents">
                    <div class="card-image">
                      <%= image_tag("learn_to_fly.jpg", :class => "case-studies-card-img", :alt => "") %>
                    </div>  
                    <div class="card-desc-box d-flex align-items-center justify-content-around">
                      <div>
                        <h6 class="text-white pb-2 px-3">Learn more about flight training</h6>
                        <a class="btn btn-white" href="#learn-to-fly">Read More</a>
                      </div>
                    </div>
                  </div>   
                  <div class="card-details text-center pt-4">
                      <h6 class="m-0 pb-1">Learn to Fly</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="card color-cards">
                <div class="card-body p-0">
                  <div class="bg-primary text-center card-contents">
                    <div class="card-image">
                      <%= image_tag("become_a_member.jpg", :class => "case-studies-card-img", :alt => "") %>
                    </div>  
                    <div class="card-desc-box d-flex align-items-center justify-content-around">
                      <div>
                        <h6 class="text-white pb-2 px-3">Read more about membership</h6>
                        <a class="btn btn-white" href="#become-a-member">Read More</a>
                      </div>
                    </div>
                  </div>   
                  <div class="card-details text-center pt-4">
                      <h6 class="m-0 pb-1">Become a member</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </section>     
      <section class="customer-feedback" id="fleet-section">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center pb-5">
              <h2>Meet our fleet</h2>
            </div>
            <div class="owl-carousel owl-theme grid-margin">
                <div class="card customer-cards">
                  <div class="card-body">
                    <div class="text-center">
                      <%= image_tag("ASK21B-04-1024x768.jpg", :width => "150", :height => "150", :alt => "", :class => "img-customer") %>
                      <p class="m-0 py-3 text-muted">Our primary two place trainer. This ASK-21 has trained hundreds of pilots at ESC.</p>
                      <div class="content-divider m-auto"></div>
                      <h6 class="card-title pt-3">"21A" N121FL</h6>
                      <h6 class="customer-designation text-muted m-0">Schleicher ASK-21</h6>
                    </div>
                  </div>
                </div>
                <div class="card customer-cards">
                  <div class="card-body">
                    <div class="text-center">
                    <%= image_tag("ASK21B-03-1024x768.jpg", :width => "150", :height => "150", :alt => "", :class => "img-customer") %>
                      <p class="m-0 py-3 text-muted">Our second two-place trainer. Mostly used for glider rides, though we also use it for training.</p>
                      <div class="content-divider m-auto"></div>
                      <h6 class="card-title pt-3">"21B" N2237W</h6>
                      <h6 class="customer-designation text-muted m-0">Schleicher ASK-21</h6>
                    </div>
                  </div>
                </div>
                <div class="card customer-cards">
                  <div class="card-body">
                    <div class="text-center">
                      <%= image_tag("ASK23-A.jpg", :width => "150", :height => "150", :alt => "", :class => "img-customer") %>
                      <p class="m-0 py-3 text-muted">A perfect single place trainer for students to transition to after solo sign-off. </p>
                      <div class="content-divider m-auto"></div>
                      <h6 class="card-title pt-3">N191RT</h6>
                      <h6 class="customer-designation text-muted m-0">Schleicher ASK-23</h6>
                    </div>
                  </div>
                </div>
                <div class="card customer-cards">
                  <div class="card-body">
                    <div class="text-center">
                      <%= image_tag("Pawnie1.jpg", :width => "150", :height => "150", :alt => "", :class => "img-customer") %>
                      <p class="m-0 py-3 text-muted">Our trusty Piper Pawnee tow plane carries our members aloft every weekend.</p>
                      <div class="content-divider m-auto"></div>
                      <h6 class="card-title pt-3">N4618Y</h6>
                      <h6 class="customer-designation text-muted m-0">Piper PA-25-235 Pawnee</h6>
                    </div>
                  </div>
                </div>
                
            </div>
          </div>
        </div>  
      </section>
      <section class="digital-marketing-service" id="digital-marketing-service">
        <div class="container-fluid" style="background-color:#f7f8fa">
          <div class="container">
            <div class="row align-items-center" id="fly-with-us">
              <div class="col-12 col-lg-6 grid-margin" data-aos="fade-right">
                <h3 class="m-0">How to fly with us</h3>
                <div class="col-lg-6 col-xl-6 p-0">
                  <p class="py-4 m-0 text-muted">Eagleville Soaring Club flies on most Saturdays and Sundays year round, weather permitting.
                          We fly from <%= Hour.where(active_flag: true).min.hour %> to <%= Hour.where(active_flag: true).max.hour %> and offer paid
                          rides to non-members.

                  </p>
                  <p class="font-weight-medium text-muted">Contact us using this form to request a ride with one of our pilots. </p>
                </div>
                <div> 
                  <%= link_to "Request a Ride", pages_flights_path, :target => "_self", :class => "btn btn-info" %>
                </div>  
              </div>
              <div class="col-12 col-lg-6 mt-3 p-0 img-digital grid-margin" data-aos="fade-left">
                <%= image_tag("maxwellcoomer-andrewbuck.jpg", :alt => "", :class => "img-fluid") %>
              </div>
            </div>
            <div class="row align-items-center" id="learn-to-fly">
              <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
                <%= image_tag("training_flight.jpg", :alt => "", :class => "img-fluid") %>
              </div>
              <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
                <h3 class="m-0">Learning to fly a glider</h3>
                <div class="col-lg-9 col-xl-8 p-0">
                  <p class="py-4 m-0 text-muted">Flying a glider can be an incredibly rewarding pursuit. Many of our members started their
                  journey as a glider pilot with no prior experience. Our instructors are experts in taking absolute beginners through the learning process and
                  preparing them for first solo and beyond. <br>
                  </p>
                  <p class="pb-2 font-weight-medium text-muted">To learn more about flight training at Eagleville Soaring Club, contact us via this form.</p>
                </div>
                <%= link_to "Learn about flight training", pages_instruction_path, :target => "_self", :class => "btn btn-info" %>

              </div>
            </div>
            <div class="row align-items-center" id="become-a-member">
              <div class="col-12 col-lg-6 grid-margin" data-aos="fade-right">
                <h3 class="m-0">Join the Eagleville Soaring Club</h3>
                <div class="col-lg-6 col-xl-6 p-0">
                  <p class="py-4 m-0 text-muted">Membership in the Eagleville Soaring Club has multiple benefits. Members are granted usage
                  privileges in our club gliders based on experience and training, as well as an annual membership in the Soaring Society of America. 
                  </p>
                  <p class="font-weight-medium text-muted">We have <%= MembershipUser.where(active_flag: true).count %> active members in our club across a wide range of experience and age groups. You could be the next!</p>
                </div> 
                <%= link_to "Inquire about membership", pages_membership_path, :target => "_self", :class => "btn btn-info" %>

      
              </div>
              <div class="col-12 col-lg-6 p-0 img-digital grid-margin" data-aos="fade-left">
                <%= image_tag("pawnee.jpeg", :alt => "", :class => "img-fluid") %>
              </div>
            </div>
          </div> 
        </div>   
      </section>   
      <br><br>
      <section class="contact-details" id="contact-details-section">
        <div class="container">
          <div class="row text-center text-md-left">
            <div class="col-12 col-md-6 col-lg-4 grid-margin">
              <%= image_tag("Eagleville_Logo_Color.png", :width => "100", :alt => "", :class => "pb-2") %>

              <div class="pt-2">
                <a href="<%= new_email_request_path %>" class="text-muted m-0">info@eaglevillesoaring.com</a><br>
                <a href="tel:8003066690" class="text-muted m-0">800-306-6690</a>
              </div>         
            </div>
            <div class="col-12 col-md-6 col-lg-4 grid-marg">
                <h5 class="pb-2">Our address</h5>
                <p class="text-muted">4689 Highway 41A<br>Eagleville, Tennessee 37060</p>
                <div class="d-flex justify-content-center justify-content-md-start">
                  <a href="https://www.facebook.com/EaglevilleSC"><span class="mdi mdi-facebook"></span></a>
                  <!-- <a href="#"><span class="mdi mdi-twitter"></span></a>
                  <a href="#"><span class="mdi mdi-instagram"></span></a>
                  <a href="#"><span class="mdi mdi-linkedin"></span></a> -->
                </div>
            </div>
          </div>
        </div>    
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © 2023<a href="<%= root_path %>" class="px-1">Eagleville Soaring Club.</a>All rights reserved.</p>
      </footer>
      <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" class="form-control" id="Name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="Email">Email</label>
                  <input type="email" class="form-control" id="Email-1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="Message">Message</label>
                  <textarea class="form-control" id="Message" placeholder="Enter your Message"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
      </div>
      