<div class="content-wrapper">
  <div class="container">
    <section class="digital-marketing-service" id="rth-info-section">
      <div class="row align-items-center">
        <div class="col-12 col-lg-5 flex-item grid-margin grid-margin-lg-0" data-aos="fade-right">
          <h3 class="m-0">Learning to Fly a Glider</h3>
          <div class="col-lg-9 col-xl-8 p-0">
            <p class="py-4 m-0 text-muted">Becoming a pilot can be an immensely rewarding endeavor, but it is 
            one that many people assume is out of their reach. Learning to fly with the Eagleville Soaring Club can make the dream
            of flight more attainable. </p>
            <p class="py-4 m-0 text-muted">Flying gliders reinforces the importance of solid stick-and-rudder skills, the backbone 
            of any pilots experience. Becoming a glider pilot also teaches pilots about energy management and situational awareness, critical skills that 
            transfer well to powered flight</p>
            <p class="font-weight-medium text-muted">A large portion of the Eagleville Soaring Club membership consists of student pilots with no prior experience. 
            </p>
          </div>    
        </div>
        <div class="col-12 col-lg-7 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
          <img src="../simple_landing_page/images/landing_pattern.jpeg" alt="" class="img-fluid">
        </div>
      </div>  
      <div class="row">
        <div class="col">
          <%= link_to "Inquire about flight insruction", new_email_request_path(query: 'instruction'), :class => "btn btn-primary" %>
        </div>
      </div>
    </div>     
    <div class="container-fluid" style="background-color:#f7f8fa;">  
      <div class="container">
        <div class="row m-4 ">
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead pb-3" id='how-to-schedule' style="background-color:#f7f8fa;">              
                <d1 class="row">
                  <dt class="col-sm-4 ps-4 pt-2">Experienced Instructors</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>Eagleville Soaring Club has a highly experienced group of instructors that are eager to pilots of all skill levels to glider flight. We
                      treat every flight as an opportunity to learn, whether introducing a brand new student to flying for the first time, or re-introducing an
                      experienced pilot to flying after years away. </p>
                      <p>Most weekend days have at least one instructor available, sometimes more than one during peak flying season.</p>
                    </dd>
                    <dt class="col-sm-4 ps-4 pt-2">Structured and progressive pilot education</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>Learning to fly is a matter of deliberate progression, with ever more sophisticated skills being taught by instructors and then demonstrated
                      by students. Each of our intructors may approach this progression in their own unique way, but they all have one thing in common: each lesson <strong>you</strong> fly
                      is based around <strong>you</strong> and your rate of progress.</p>
                      <p>Every student is different. Some students pick up the aerotow very quickly, other struggle with it. Some seem like they are born to center thermals, while
                      the same students may struggle with the landing pattern, or radio work. We all have our strengths and weaknesses. Structured, progressive pilot
                      education focuses on these strengths and weaknesses and ensures that the training curriculum is adjusted to meet each pilots unique needs.</p>
                      <p>We want all of our students to succeed in their goals, whether those goals are just to solo, or become a cross-country soaring pilot.</p> 
                      
                    </dd>
                    <dt class="col-sm-4 ps-4 pt-2">The importance of consistency</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>One of the most important drivers of progress during flight training, especially glider flying, is consistency. This can also be one of the 
                      more challenging aspects of becoming a glider pilot. We are more dependent on the weather than powered flight. We also fly mostly on weekends. 
                      We also have many student pilots who all want training time.</p>
                      <p>These challenges are not meant to discourage new pilots. They can just as easily encourage that new pilots show up at the glider field, 
                      assist their fellow pilots with launches, retrievals, and ground operations. Just being at the glider field exposes student pilots to many of 
                      the critical safety procedures that keep us flying. Being at the glider field consistently also increases esposure to training. More time at the field 
                      means more time in the air. </p> 

                    </dd>
                    <dt class="col-sm-4 ps-4 pt-2">Becoming a pilot</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>The FAA requires that a student pilot obtain a certain number of flights and be able to demonstrate a standardized set of skills in 
                      order to pass a practical test. Students are welcome to read the latest regulations on the <a href="https://www.ssa.org/glider-pilot-ratings/">Soaring Society of America</a> website.</p>
                      <p>At a rate of roughly one lesson per weekend, students at Eagleville Soaring Club with no prior experience can possibly expect to solo a glider within one season of consistent training, and potentially prepare for their 
                      glider checkride within a second season. Some students may progress faster, and some may take longer based on number of weekends spent at the field. Each year we see
                      several students pass their checkrides and graduate from student to Glider Pilot. A milestone worth celebrating. </p>
                       
                    </dd>
                  </d1> 
              </ul>     
              
            </div>
        </div>
      </div>
    </div>    
      </div>
    </div>
    
    <section class="contact-details" id="contact-details-section">
      <div class="container">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-4 grid-margin">
            <img src="../simple_landing_page/images/Eagleville_Logo_Color.png" width="100" alt="" class="pb-2">

            <div class="pt-2">
                <a href="<%= new_email_request_path %>" class="text-muted m-0">clubadmin@eaglevillesoaring.com</a><br>
                <a href="tel:+8003066690" class="text-muted m-0">800-306-6690</a>
              </div>          
          </div>
          <div class="col-12 col-md-6 col-lg-4 grid-marg">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">4689 Highway 41A<br>Eagleville, Tennessee 37060</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="https://www.facebook.com/EaglevilleSC"><span class="mdi mdi-facebook"></span></a>
                <!-- <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a> -->
              </div>
          </div>
        </div>
      </div>    
    </section>
    <footer class="border-top">
      <p class="text-center text-muted pt-4">Copyright © 2023<a href="https://Eaglevillesoaring.com" class="px-1">Eagleville Soaring Club.</a>All rights reserved.</p>
    </footer>
    <!-- Modal for Login Button -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="loginModalLabel">Login</h4>
            </div>
            <div class="modal-body">
              <%= form_for(:session, url: login_path) do |f| %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
          
                <%= f.label :password %>
                <%= link_to "(forgot password)", new_password_reset_path %>
                <%= f.password_field :password, class: 'form-control' %>
          
                <%= f.label :remember_me, class: "checkbox inline" do %>
                  <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %><br>
                  
                <div class="modal-footer">  
                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                  <%= f.submit "Log in", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="RideRequestModal" tabindex="-1" role="dialog" aria-labelledby="RideRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Request a Ride</h4>
            </div>
            <div class="modal-body">
              <%= form_with model: @email_request do |f| %>

                <%= f.hidden_field :date, value: Date.today %>
                <%= f.hidden_field :ride, value: true %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
          
                <%= f.label :subject %>
                <%= f.text_field :subject, class: 'form-control' %>

                <%= f.label :body %>
                <%= f.text_area :body, rows: 3, width: 50, class: "input-group-text form control" %>

                <div class="row ms-1 my-3">
                <%= recaptcha_tags %>
                </div>

                <div class="modal-footer">  
                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                  <%= f.submit "Send Ride Request", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
  </div>
</div>  
<script src="../simple_landing_page/vendors/jquery/jquery.min.js"></script>
<script src="../simple_landing_page/vendors/bootstrap/bootstrap.min.js"></script>
<script src="../simple_landing_page/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="../simple_landing_page/vendors/aos/js/aos.js"></script>
<script src="../simple_landing_page/js/landingpage.js"></script>