<div class="content-wrapper">
  <div class="container">
    <section class="digital-marketing-service" id="rth-info-section">
      <div class="row align-items-center">
        <div class="col-12 col-lg-5 flex-item grid-margin grid-margin-lg-0" data-aos="fade-right">
          <h3 class="m-0">Becoming a Member of the Eagleville Soaring Club</h3>
          <div class="col-lg-9 col-xl-8 p-0">
            <p class="py-4 m-0 text-muted">Eagleville Soaring club members receive several benefits by joining our club, from free instruction and glider rental
            to membership in the Soaring Society of America. We also consider membership to be a privilege that provides cameraderie and lifelong 
            friendships based around a shared love of soaring. </p>
            <p class="font-weight-medium text-muted">We currently have <%= MembershipUser.where(active_flag: true).count %> active members and growing. If you are interested 
              in becoming our next member, send us a note using the form below. </p>
          </div>    
        </div>
        <div class="col-12 col-lg-7 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
          <img src="../simple_landing_page/images/ESC Member Photo_smaller.jpg" alt="" class="img-fluid">
        </div>
      </div>  
      <div class="row">
        <div class="col">
          <%= link_to "Become a Member", new_email_request_path(query: 'membership'), :class => "btn btn-primary" %>
        </div>
      </div>
    </div>     
    <div class="container-fluid" style="background-color:#f7f8fa;">  
      <div class="container">
        <div class="row m-4 ">
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead pb-3" id='how-to-schedule' style="background-color:#f7f8fa;">              
                <d1 class="row">
                  <dt class="col-sm-4 ps-4 pt-2">Becoming a Member</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>In addition to sending us a note as an introduction, we encourage potential members to come visit us on a flying weekend 
                      and see what the daily operations at Eagleville Soaring Club are like. Glider clubs are highly social groups, since nothing
                      happens on the field without the help of our members to move gliders, run wings, drive golf carts, and talk about flying!</p>
                      <p>We love to see potential members at the field so we get to know you before you join. </p>
                    </dd>
                    <dt class="col-sm-4 ps-4 pt-2">Different types of memberships</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>Pilots come in different ages and so do our memberships. Eagleville Soaring Club offers three different types of memberships. All of these membership 
                        types have the same privileges within our club, but are targeted towards different demographics.</p>
                      <p><span class="font-weight-medium"><%= Membership.find(1).membership_type %> Memberships - </span> Dues are $<%= Membership.find(1).renewal_price %> and renew every <%= Membership.find(1).renewal_period %> days (annually).</p>
                      <p><%= Membership.find(1).membership_type %> memberships are for most of our members, making up <%= MembershipUser.where(active_flag: true, membership_id: 1).count %> of our <%= MembershipUser.where(active_flag: true).count %> members. </p>
                      <p><span class="font-weight-medium"><%= Membership.find(3).membership_type %> Memberships - </span> Dues are $<%= Membership.find(3).renewal_price %> and renew every <%= Membership.find(3).renewal_period %> days (annually).</p>
                      <p><%= Membership.find(3).membership_type %> memberships are targeted towards members age 55 and up. A significant portion of these members are returning to flying after years focused on work and family. They bring with them
                      a lot of life experience and the stories that come with it. </p>
                      <p><span class="font-weight-medium"><%= Membership.find(2).membership_type %> Memberships - </span> Dues are $<%= Membership.find(2).renewal_price %> and renew every <%= Membership.find(2).renewal_period %> days (annually).</p>
                      <p><%= Membership.find(2).membership_type %> memberships are targeted towards students. Typically high school age students, but we frequently see college students as members as well as sometimes students still in middle school!
                      Some of our most enthusiastic student pilots (and student members) are our youngest members. </p>
                      
                      
                    </dd>
                    <dt class="col-sm-4 ps-4 pt-2">Soaring Society of America</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>Membership in the Eagleville Soaring Club also includes membership in the Soaring Society of America. The SSA was formed in 1932 to foster and promote all phases of soaring, both nationally and internationally. 
                      The SSA publishes a monthly magazing, Soaring, that each Eagleville members receives at their mailing address.</p>
                      <p>Several of our members have been recognized in Soaring magazine either as participants in regional soaring contests, or in recognition of
                      flying achievements such as completion of a Bronze, Silver, or Gold badge flight. </p> 
                      <p>The SSA also sponsors several scholarships each year assisting pilots in achieving their goals of becoming flight instructors.</p>
                      <p class="font-weight-medium">Read more about all of the things the Soaring Society of America does to promote soaring at their <a href="https://www.ssa.org/" class="btn btn-info btn-sm">website</a></p>
                    </dd>
                    <dt class="col-sm-4 ps-4 pt-2">Membership privileges</dt>
                    <dd class="col-sm-8 pt-2">
                      <p>Eagleville Soaring Club members with active memberships can reserve time in any of our club gliders in which they possess adequate privileges. Pre-solo student pilot members (Full, Senior, and Student members) 
                      are granted reservation privileges in both of our ASK-21 two place gliders. Student and certificated pilots that have passed solo sign-off can also be granted
                      privileges in our single place ASK-23 glider.  </p>
                      <p>Members are also able to take advantage of our experienced group of glider instructors for training.</p> 
                      <p>Both glider training and usage of the club glider fleet are provided to members at no additional charge. Most members only pay their dues and tow fees, calculated based on how high they towed.
                      Some members who own their own gliders also pay storage fees for keeping their glider in the club hangar through the year. </p> 

                      
                    </dd>
                  </d1> 
              </ul>     
              
            </div>
        </div>
      </div>
    </div>    
      </div>
    </div>
    
    <section class="contact-details" id="contact-details-section">
      <div class="container">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-4 grid-margin">
            <img src="../simple_landing_page/images/Eagleville_Logo_Color.png" width="100" alt="" class="pb-2">

            <div class="pt-2">
                <a href="<%= new_email_request_path %>" class="text-muted m-0">clubadmin@eaglevillesoaring.com</a><br>
                <a href="tel:+8003066690" class="text-muted m-0">800-306-6690</a>
              </div>          
          </div>
          <div class="col-12 col-md-6 col-lg-4 grid-marg">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">4689 Highway 41A<br>Eagleville, Tennessee 37060</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="https://www.facebook.com/EaglevilleSC"><span class="mdi mdi-facebook"></span></a>
                <!-- <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a> -->
              </div>
          </div>
        </div>
      </div>    
    </section>
    <footer class="border-top">
      <p class="text-center text-muted pt-4">Copyright © 2023<a href="https://Eaglevillesoaring.com" class="px-1">Eagleville Soaring Club.</a>All rights reserved.</p>
    </footer>
    <!-- Modal for Login Button -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="loginModalLabel">Login</h4>
            </div>
            <div class="modal-body">
              <%= form_for(:session, url: login_path) do |f| %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
          
                <%= f.label :password %>
                <%= link_to "(forgot password)", new_password_reset_path %>
                <%= f.password_field :password, class: 'form-control' %>
          
                <%= f.label :remember_me, class: "checkbox inline" do %>
                  <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %><br>
                  
                <div class="modal-footer">  
                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                  <%= f.submit "Log in", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="RideRequestModal" tabindex="-1" role="dialog" aria-labelledby="RideRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Request a Ride</h4>
            </div>
            <div class="modal-body">
              <%= form_with model: @email_request do |f| %>

                <%= f.hidden_field :date, value: Date.today %>
                <%= f.hidden_field :ride, value: true %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
          
                <%= f.label :subject %>
                <%= f.text_field :subject, class: 'form-control' %>

                <%= f.label :body %>
                <%= f.text_area :body, rows: 3, width: 50, class: "input-group-text form control" %>

                <div class="row ms-1 my-3">
                <%= recaptcha_tags %>
                </div>

                <div class="modal-footer">  
                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                  <%= f.submit "Send Ride Request", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
  </div>
</div>  
<script src="../simple_landing_page/vendors/jquery/jquery.min.js"></script>
<script src="../simple_landing_page/vendors/bootstrap/bootstrap.min.js"></script>
<script src="../simple_landing_page/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="../simple_landing_page/vendors/aos/js/aos.js"></script>
<script src="../simple_landing_page/js/landingpage.js"></script>