<%= form_with(model: @permission, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
  <div class="form-group row m-3" >
      <%= f.label :username, class: "col-4 col-form-label" %>
    <div class="col form-control input-group-text">
      <%= @permission.user.username %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :email, class: "col-4 col-form-label" %>
    <div class="col form-control input-group-text">
      <%= @permission.user.email  %>
    </div>
  </div>	
  <div class="form-group row m-3" >
      <%= f.label :instructor, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.check_box :instructor, class: "form-check-label" %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :tow_pilot, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.check_box :towpilot, class: "form-check-label" %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :user_admin, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.check_box :user_admin, class: "form-check-label" %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :club_admin, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.check_box :club_admin, class: "form-check-label" %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :site_admin, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.check_box :site_admin, class: "form-check-label" %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :global_admin, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.check_box :global_admin, class: "form-check-label" %>
    </div>
  </div>
  <%= link_to "Close", permissions_path, :class => "btn btn-light" %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>