<div class="container">
	<div class="row text-center justify-content-center" >
  <h4>Editing a specific day</h4>
    <div class="col col-sm-10 col-md-6">
      <%= render 'shared/errors', obj: @day %>
        <%= form_with(model: @day, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
          <%= f.hidden_field :day, value: @day.day %>
          <div class="form-group row m-3" >
            <div class="col">
              <%= f.label :day, class: "col col-form-label" %>
              </div>
            <div class="col form-control">
              <%= @day.day %>
            </div>
          </div>	
          <div class="form-group row m-3" >
          <div class="col">
              <%= f.label :active_flag, class: "col col-form-label" %>
              </div>
            <div class="col">
              <%= f.check_box :active_flag, class: "form-check-label" %>
            </div>
          </div>
          <%= link_to "Close", days_path, class:"btn btn-secondary" %>
          <%= f.submit class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
