<div class="container my-2">
  <h4>Editing A specific day</h4>
	<div class="row justify-content-start" >
    <div class="col-5">
      <%= render 'shared/errors', obj: @day %>
        <%= form_with(model: @day, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
          <div class="form-group row p-2" >
              <%= f.label :day, class: "col-4 col-form-label text-light" %>
            <div class="col-4">
              <%= f.text_field :day, class: "input-group-text" %>
            </div>
          </div>	
          <div class="form-group row p-2" >
              <%= f.label :active_flag, class: "col-4 col-form-label text-light" %>
            <div class="col-5">
              <%= f.check_box :active_flag %>
            </div>
          </div>
        <%= f.submit class:"btn btn-outline-light col-6" %>
        <% end %>
      </div>
    </div>
    <%= link_to "Cancel edit and to back to days", days_path, class:"btn btn-primary btn-sm" %>
  </div>
</div>
