<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-10 col-md-8">
      <div class="row justify-content-center">
				<div class="col">
					<h4>Days available for scheduling</h4>
					<p class="text-muted">If non-weekend days are required for scheduling, add them and flag as active</p>
					<p class="text-muted">Last day loaded was: <%= Day.last.day %></p>

				</div>
				<div class="col align-text-middle">
					<%= link_to 'Add another day', new_day_path, :class => "btn btn-primary btn-sm" %>
				</div>
				<div class="row">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Day</th>
										<th>Active</th>
										<th>Edit</th>
									</tr>
								</thead>
								<tbody>
									<% @days.each do |day| %>
										<tr>
											<td><%= day.day %></td>
											<td><%=  day.active_flag.humanize %></td>
											<td><%= link_to 'Edit', edit_day_path(day), class: "btn btn-primary btn-sm"%></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>				
</div>
