<%= form_with scope: :reservation, url: reservations_path(:date, :time, :aircraft), class: "shadow p-3 m-3 bg-info rounded", data: { turbo: false }, local: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :aircraft_id, value: @aircraft %>
  <div class="form-group row m-3" >
  <%= f.label :date, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.select :reservation_date, options_from_collection_for_select(@avail_days, 'day', 'day'), {}, {class: "form-control input-group-text"} %>
  </div>
</div>	
<div class="form-group row m-3">
  <%= f.label :start_time, class: "col-4 col-form-label" %>
  <div class="col"> 
  <%= f.select :reservation_time, options_from_collection_for_select(@avail_hours, 'hour', 'hour'), {}, {class: "form-control input-group-text"} %>
  </div>
</div>
  <%= f.hidden_field :reservation_duration %>
<div class="form-group row m-3" >
  <%= f.label :aircraft, class: "col-4 col-form-label" %>
  <div class="col form-control">  
    <%= Aircraft.find(@aircraft).short_name %>
  </div>
</div>
<%= link_to "close", reservations_tow_path, :class => "btn btn-light" %>
<%= f.submit class:"btn btn-primary" %>
<% end %>