<h2 class="mt-4">Full Schedule for <%= @res_show %></h2>
<h5 class="mt-2">Enter a weekend date in format 2023-09-02 to see schedule</h5>
<table class="table table-striped">
	<thead>
		<tr>
			<th >Aircraft</th>
			<% @avail_hours.each do |hour| %>
				<th><%= hour.hour %></th>
				<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>ASK-21 A</td>
		<% @avail_hours.each do |hour| %>
			<td ><% if @view_21a.where(reservation_time: hour.hour).exists? %>
					<%= link_to 'booked', reservation_path(@view_21a.where(reservation_time: hour.hour).pluck(:id)) %><% else %>
					<%= link_to 'open', new_reservation_path %><% end %></td>
		<% end %>
		</tr>
		<tr>
		<td>ASK-21 B</td>
		<% @avail_hours.each do |hour| %>
			<td ><% if @view_21b.where(reservation_time: hour.hour).exists? %>
					<%= link_to 'booked', reservation_path(@view_21b.where(reservation_time: hour.hour).pluck(:id)) %><% else %>
					<%= link_to 'open', new_reservation_path %><% end %></td>
		<% end %>
		</tr>
		<tr>
		<td>ASK-23</td>
		<% @avail_hours.each do |hour| %>
			<td ><% if @view_23.where(reservation_time: hour.hour).exists? %>
					<%= link_to 'booked', reservation_path(@view_23.where(reservation_time: hour.hour).pluck(:id)) %><% else %>
					<%= link_to 'open', new_reservation_path %><% end %></td>
		<% end %>
		</tr>



</tbody>
</table>