<div class="container">
  <div class="row text-center justify-content-center">
		<div class="col col-sm-12 col-md-10">
			<div class="row">
				<div class="col text-start">
					<h4>Availability for: <%= @res_show.strftime("%a, %b %d, %Y") %></h4>
					<p class="text-muted">Select date and click Check Reservations <br>
					Click on red dot to see reservation details.<br> 
					Click on open green dot to reserve a slot.</p>
				</div>
				<div class="col input-group align-start">
					<%= form_tag(reservations_club_path, method: :get) do %>
						<%= submit_tag ("Check Reservations"), {class: "btn btn-info btn-sm"} %>
						<%= select_tag(:search, options_from_collection_for_select(@avail_days, 'day','day', @res_show),{class: "form-select append"}) %>
					<% end %>
				</div>
			</div>	
				<%= render 'grid' %>
			<div class="row text-center">
				<div class="col justify-content-start">
					<h4>Reservation list for: <%= @res_show.strftime("%a, %b %d, %Y") %></h4>
				</div>
				<div class="row justify-content-center">
					<div class="table-responsive">		
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Profile&nbsp;</th>
									<th>Name  </th>
									<th>Date  </th>
									<th>Time  </th>
									<th>Aircraft </th>
									<th>Instructor?</th>
								</tr>
							</thead>
								<tbody>
									<% @res_date.each do |reservation| %>
										<tr>
											<td class="align-middle"><%= gravatar_for reservation.user, size: 50 %></td>
											<td class="align-middle"><%= reservation.user.username %></td>
											<td class="align-middle"><%= reservation.reservation_date.strftime("%m/%d/%y") %>  </td>
											<td class="align-middle"><%= reservation.reservation_time %></td>
											<td class="align-middle"><%= reservation.aircraft.short_name %>  </td>
											<td class="align-middle"><%= reservation.instructor_flag.humanize %>  </td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>		
				</div>
			</div>	
		</div>
	</div>		
</div>
		