<div class="mx-5 mb-5 pb-5">
<h2 class="mt-4"><%= current_user.username %>'s reservations next 30 days</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th >Username  </th>
			<th>Date  </th>
			<th>Start Time  </th>
      <th>Aircraft requested  </th>
      <th>Instructor needed  </th>
      <th>Show reservation </th>
      <th>Edit reservation  </th>
      <th>Delete reservation  </th>
		</tr>
	</thead>
		<tbody>
			<% @reservations.each do |reservation| %>
				<tr>
					<td><%= reservation.user.username %></td>
					<td><%= reservation.reservation_date.strftime("%m/%d/%y") %>  </td>
          <td><%= reservation.reservation_time %></td>
          <td><%= reservation.aircraft.name %>, <%= reservation.aircraft.short_name %>  </td>
          <td><%= reservation.instructor_flag %>  </td>
          <td><%= link_to "Reservation Details", reservation_path(reservation) %>  </td>
          <td></td>
          <td><%= link_to "Delete reservation", reservation_path(reservation), data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
				</tr>
			<% end %>
		</tbody>
</table>
<div class="pull-right range-query">
<%= link_to 'Add another reservation', new_reservation_path, :class => "btn btn-primary" %> 
	<%= form_tag(reservations_path, method: :get) do %>
		<%= text_field_tag(:search, params[:search]) %>
	<%= submit_tag ("Search") %>
	<% end %>
</div>

<%= render 'grid' %>
</div>

		