<div class="mx-5 mt-2 mb-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-9">
				<h2>Club schedule grid for: <%= @res_show.strftime("%A, %b %d, %Y") %></h2>
				<h8>Grid will display for non-operating days, but reservations cannot be added </h8>
			</div>
			<div class="col input-group aligh-right">
				<%= form_tag(reservations_path, method: :get) do %>
					<%= submit_tag ("Check reservations"), {class: "btn btn-secondary"} %>
					<%= select_tag(:search, options_from_collection_for_select(@avail_days, 'day', 'day'),{class: "form-select append"}) %>
				
				<% end %>
			</div>
		</div>
	</div>

<%= render 'grid' %> 
<h2 class="mt-4"><%= current_user.username %>'s reservations next 60 days</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th >Username  </th>
			<th>Date  </th>
			<th>Time  </th>
      <th>Aircraft reserved</th>
      <th>Instructor?</th>
			<th>Flights</th>
      <th colspan="3">Modify reservation details</th>
		</tr>
	</thead>
		<tbody>
			<% @myreservations.each do |reservation| %>
				<tr>
					<td><%= reservation.user.username %></td>
					<td><%= reservation.reservation_date.strftime("%m/%d/%y") %>  </td>
          <td><%= reservation.reservation_time %></td>
          <td><%= reservation.aircraft.name %>, <%= reservation.aircraft.short_name %>  </td>
          <td><%= reservation.instructor_flag.humanize %>  </td>
					<td><%= reservation.flights.count %></td>
          <td><%= link_to "View Details", reservation_path(reservation), class: "btn btn-info" %>  </td>
          <td><%= link_to "Edit", edit_reservation_path(reservation), class: "btn btn-primary" %></td>
          <td><%= link_to "Delete", reservation_path(reservation),class: "btn btn-warning", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
				</tr>
			<% end %>
		</tbody>
</table>
<%= link_to 'Add another reservation', new_reservation_path, :class => "btn btn-primary" %> 
	
</div>

		