<div class="container">
  <div class="row text-center justify-content-center">
		<div class="col col-sm-12 col-md-10">
			<div class="row">
			<!-- <div class="card shadow p-3 mb-5 bg-secondary rounded text-start">ESC Members,<br>Reservations made in this application are not "official" for the month of December. To make official reservations, please continue to use the old site at: <strong><a href="https://www.eaglevillesoaring.org" target="_blank">Eaglevillesoaring.org</a></strong> We will remove this banner once the site becomes official on January 1.</div> -->
				<div class="col text-start">
					<% if @status.blank? %>
					<h4>Availability for: <%= @res_show.strftime("%a, %b %d, %Y") %></h4>
					<p class="text-muted">Select date and click Check Reservations <br>
					Click on red dot to see reservation details.<br> 
					Click on open green dot to reserve a slot.</p>
				</div>
				<div class="col input-group align-start">
					<%= form_tag(reservations_path, method: :get) do %>
						<%= submit_tag ("Check Reservations"), {class: "btn btn-info btn-sm"} %>
						<%= select_tag(:search, options_from_collection_for_select(@avail_days, 'day','day', @res_show),{class: "form-select append"}) %>
					<% end %>
				</div>
			</div>	
				<%= render 'grid' %>
				<% else %>	
				<% end %>
			<div class="row text-start justify-content-center">
					
				<div class="col">	
					<h4><%= current_user.username %>'s <%= @status %> reservations</h4>
					<% if @status == 'upcoming' %><p class="text-muted">Today and Upcoming next 30 days.</p>
					<% elsif @status == 'past_due' %><p class="text-muted">Reservations are past due if unpaid after 5 days.<br>
						Please submit payment for flights, or delete if reservation was not used.</p>
					<% elsif @status == 'pending' %><p class="text-muted">Reservations flagged as Pending have payment submitted <br> via check or cash 
						or were Red Tail Hawk flights.<br> Pending status will update to Paid once treasurer has reconciled payment.</p>
					<% elsif @status == 'paid' %><p class="text-muted">Reservations showing as Paid have completed payment. Stripe payments usually show this immediately.</p>
					<% else %><p class="text-muted">Today and Upcoming next 30 days.</p>
					<% end %>
				</div>
				<div class="col flickr_pagination">	
  					<%= will_paginate @displayreservations, :container => false %>
				</div>
			</div>	
			<div class="row text-start justify-content-center">
				<div class="col">	
					<!-- replace table with card for upcoming reservations -->
					<% @displayreservations.each do |reservation| %>
						<div class="card shadow p-3 mb-5 bg-white rounded">
							<div class="card-header fst-italic">
								<div class="row">
									<div class="col input-group justify-content-start">
										<% if reservation.status == 'open' %>
											<%= link_to "Edit", edit_reservation_path(reservation), class: "btn btn-primary btn-sm" %>
										<% else %>
										<% end %>
									</div>	
									<div class="col input-group justify-content-end">	
										<% if reservation.flights.count == 0 && reservation.status == 'open' && reservation.tows.count == 0 %>
											<%= link_to "Delete", reservation_path(reservation), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %>
										<% else %>	
										<% end %>
									</div>
								</div>
								<div class="row pt-3">
								<div class="col text-start">
									<strong>Reservation details </strong>
								</div>
								<div class="col text-end justify-content-end">
									<strong>
										<% if reservation.status == 'open' && reservation.reservation_date > Date.today %>
											Upcoming
										<% elsif reservation.status == 'open' && reservation.reservation_date < 5.days.ago && reservation.aircraft.group != 'towplane' %>
											Payment Past Due
										<% elsif reservation.status == 'open' && reservation.reservation_date < 5.days.ago && reservation.aircraft.group == 'towplane' %>
											Tow Log Due
										<% else %>	
											<%= reservation.status %> 
										<% end %>
									</strong>	
								</div>
							</div>		
							</div>	
							<div class="card-body" style="padding: 20px 20px">
								<div class="row pb-3">
									<div class="row text-center">
										<% if reservation.status == 'open' && reservation.reservation_date >= Date.today && reservation.aircraft.active_flag != true %>
											<p><strong>NOTE: </strong><span class="text-muted"><%= reservation.aircraft.short_name %> is currently offline. This reservation may require cancellation.</span></p>
										<% else %>
										<% end %>	
									</div>	
									#<div class="row text-center">
									#	comment <% if FieldStatusUpdate.where(date: reservation.reservation_date).last.ops_status.present? && FieldStatusUpdate.where(date: reservation.reservation_date).last.ops_status == false && reservation.status == 'open' && reservation.reservation_date <= Date.today %>
									#		<p><strong>NOTE: </strong><span class="text-muted">Field Status for today indicates a no fly day. This reservation may be auto-canceled at 7pm tonight, or can be deleted by the user.</span></p>
									#	<% else %>
									#	<% end %>	
									#</div>	
									<div class="col ">
										<strong>Pilot:</strong></strong><br>
										<%= reservation.user.username %></strong>
									</div>
									<div class="col ">
										<strong>Date:</strong></strong><br>
										<%= reservation.reservation_date.strftime("%m/%d/%y") %></strong>
									</div>
									<div class="col ">
										<strong>Time:</strong></strong><br>
										<%= reservation.reservation_time %>
									</div>
									<div class="col ">
										<strong>Aircraft:</strong></strong><br>
											<%= reservation.aircraft.short_name %>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<% if reservation.rth_flag == true %>
											<button type="button" class="btn btn-success m-1">Commercial Pilot?
												<span class="badge badge-primary">
													<%= reservation.rth_flag.humanize %>
												</span>
											</button>
										<% else %>
										<% end %>
										<% if reservation.instructor_flag == true %>
											<button type="button" class="btn btn-success m-1">Instructor?
												<span class="badge badge-primary">
													<%= reservation.instructor_flag.humanize %>
												</span>
											</button>
										<% else %>
										<% end %>
										<% if reservation.flights.count != 0 %>
											<button type="button" class="btn btn-success m-1">Flights 
												<span class="badge badge-primary">
													<%= reservation.flights.count %>
												</span>
											</button>
											<button type="button" class="btn btn-secondary m-1">Tow Fees 
												<span class="badge badge-primary">
													<%= reservation.rth_flag? ? 0 : number_to_currency(reservation.flights.pluck(:fees).sum) %>
												</span>
											</button>
										<% else %>
										<% end %>		
										<% if reservation.status != 'open' %>
											<button type="button" class="btn btn-secondary m-1">Payment Method 
												<span class="badge badge-primary">
													<%= reservation.method %>
												</span>
											</button>	
										<% else %>
										<% end %>
									</div>
								</div>
								<% if reservation.flights.blank? %>
								<% else %>
								<div class="row">
									<div class="table-responsive p-0">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Glider</th>
													<th>Tow Height</th>
													<th>Flight Time</th>
													<th>Tow Fee</th>
													<th colspan="2">Modify Flights</th>
												</tr>
											</thead>
											<tbody>
												<% reservation.flights.each do |flight| %>
												<tr>
													<td><%= flight.aircraft.short_name %></td>
													<td><%= flight.tow_height %></td>
													<td><%= flight.flight_time %></td>
													<td><%= reservation.rth_flag? ? 0 : number_to_currency(flight.fees) %></td>
													<td>
														<% if reservation.status == 'open' %>
															<%= link_to 'Modify', edit_reservation_flight_path(reservation, flight), class: "btn btn-primary btn-sm"  %>
														<% else %>
														<% end %>
													</td>
													<td>
														<% if reservation.status == 'open' %>
															<%= link_to "Delete", [reservation, flight], class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %>
														<% else %>
														<% end %>
													</td>
												</tr>
												<% end %>
											</tbody>
										</table>
									</div>
								</div>
							<% end %>	
							</div>
							<div class="card-footer text-body-secondary" >
								<div class="row">
									<div class="col input-group justify-content-start">
									<% if reservation.reservation_date <= Date.today && reservation.status == 'open' && reservation.aircraft.group != 'towplane' %>
										<%= link_to "Add flight", new_reservation_flight_path(reservation), :class => "btn btn-primary btn-sm" %>
									<% elsif reservation.reservation_date <= Date.today && reservation.status == 'open' && reservation.aircraft.group == 'towplane' %>
									<%= link_to "Add tow log", new_reservation_tow_path(reservation), :class => "btn btn-primary btn-sm" %>

									<% else %>
									<% end %>
									</div>
									<div class="col input-group justify-content-end">
									<% if reservation.reservation_date <= Date.today && reservation.flights.count > 0 && reservation.status == 'open' %>
										<%= link_to "Checkout", checkout_path(:id => reservation.id), class: "btn btn-info btn-sm" %>
									<% else %>
									<% end %>	
									</div>
								</div>	
							</div>
						</div>	
					<% end %>
				</div>
			</div>	
		</div>
	</div>		
</div>	