<div class="container mx-1 mt-1 mb-5 pb-5">
	<div class="row">
		<div class="col justify-content-start">
			<h4>Availability for: <%= @res_show.strftime("%a, %b %d, %Y") %></h4>
		</div>
		<div class="col input-group justify-content-end align-middle">
			<%= form_tag(reservations_path, method: :get) do %>
				<%= submit_tag ("Submit Date Selection"), {class: "btn btn-info"} %>
				<%= select_tag(:search, options_from_collection_for_select(@avail_days, 'day', 'day'),{class: "form-select append"}) %>
			<% end %>
		</div>
		<div>
			<h8>Search for availability by selecting date from the dropdown clicking the submit date box </h8><br>
			<h8>Click on any red (booked) dot to see reservation details</h8>
		</div>
		<div class="table-responsive">
			<%= render 'grid' %> 
		</div>
	</div>
	<div class="row">
		<div class="col justify-content-start">	
			<h4><%= current_user.username %>'s reservations</h4>
		</div>
		<div class="col input-group justify-content-end align-middle">
			<% if has_membership == true %>
				<%= link_to 'Add New Reservation', new_reservation_path, :class => "btn btn-success" %> 
			<% else %>
				<div class="badge text-bg-warning">Membership has expired, user has no reservation privileges</div>
			<% end %>
		</div>
		<div>
			<h8>Reservations from prior 3 days through next 30 days</h8>
		</div>
	</div>

	<!-- replace table with card for upcoming reservations -->
	<% @myreservations.each do |reservation| %>
		<div class="col-sm-10 col-md-8">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				<div class="row card-header fst-italic">
					<div class="col text-start justify-content-start">
					<strong><%= reservation.reservation_date.strftime("%m/%d/%y") %></strong>
					</div>
					<div class="col text-center justify-content-center">
						<%= reservation.reservation_time %>
					</div>
					<div class="col text-end justify-content-end">
						Glider: <%= reservation.aircraft.short_name %>
					</div>
				</div>
				<div class="card-body justify-content-start">
					<p>Requires instructor: <%= reservation.instructor_flag.humanize %></p>
					<p>You flew <%= reservation.flights.count %> flights with <%= number_to_currency(reservation.flights.pluck(:fees).sum) %> in tow fees. </p>
				</div>
				<div class="row card-footer text-body-secondary">
					<div class="col input-group justify-content-start">
						<%= link_to "View", reservation_path(reservation), class: "btn btn-info btn-sm" %> 
						<%= link_to "Edit", edit_reservation_path(reservation), class: "btn btn-primary btn-sm" %> 
						<%= link_to "Drop", reservation_path(reservation),class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %>	
					</div>
					<div class="col input-group justify-content-end">
					<%= link_to "Pay for Flights", reservation_path(reservation), class: "btn btn-success btn-sm" %>
					</div>
				</div>
			</div>
		</div>
	<% end %>



<!-- Older design for showing reservation as a table instead of a card 
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date  </th>
						<th>Time  </th>
						<th>Aircraft</th>
						<th>Instructor?</th>
						<th>Flights</th>
						<th colspan="3">Modify details</th>
					</tr>
				</thead>
				<tbody>
					<% @myreservations.each do |reservation| %>
					<tr>
						<td><%= reservation.reservation_date.strftime("%m/%d/%y") %>  </td>
						<td><%= reservation.reservation_time %></td>
						<td><%= reservation.aircraft.short_name %>  </td>
						<td><%= reservation.instructor_flag.humanize %>  </td>
						<td><%= reservation.flights.count %></td>
						<td><%= link_to "View", reservation_path(reservation), class: "btn btn-info btn-sm" %>  </td>
						<td><%= link_to "Edit", edit_reservation_path(reservation), class: "btn btn-primary btn-sm" %></td>
						<td><%= link_to "Delete", reservation_path(reservation),class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	-->
</div>

		