<div class="container mx-1 mt-1 mb-5 pb-5">
	<div class="row">
		<div class="col justify-content-start">
			<h4>Club reservations grid: <%= @res_show.strftime("%a, %b %d, %Y") %></h4>
		</div>
		<div class="col input-group justify-content-end align-middle">
			<%= form_tag(reservations_path, method: :get) do %>
				<%= submit_tag ("Check Reservations"), {class: "btn btn-info"} %>
				<%= select_tag(:search, options_from_collection_for_select(@avail_days, 'day', 'day'),{class: "form-select append"}) %>
			<% end %>
		</div>
		<div>
			<h8>Search for reservations from a different day using the dropdown to the right and clicking the box </h8><br>
			<h8>Click on any red (booked) dot to see reservation details</h8>
		</div>
		<div class="table-responsive">
			<%= render 'grid' %> 
		</div>
	</div>
	<div class="row">
		<div class="col justify-content-start">	
			<h4><%= current_user.username %>'s reservations</h4>
		</div>
		<div class="col input-group justify-content-end align-middle">
			<% if has_membership == true %>
				<%= link_to 'Add New Reservation', new_reservation_path, :class => "btn btn-success" %> 
			<% else %>
				<div class="badge text-bg-warning">Membership has expired, user has no reservation privileges</div>
			<% end %>
		</div>
		<div>
			<h8>Reservations shown from prior 3 days through next 60 days</h8>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date  </th>
						<th>Time  </th>
						<th>Aircraft</th>
						<th>Instructor?</th>
						<th>Flights</th>
						<th colspan="3">Modify details</th>
					</tr>
				</thead>
				<tbody>
					<% @myreservations.each do |reservation| %>
					<tr>
						<td><%= reservation.reservation_date.strftime("%m/%d/%y") %>  </td>
						<td><%= reservation.reservation_time %></td>
						<td><%= reservation.aircraft.short_name %>  </td>
						<td><%= reservation.instructor_flag.humanize %>  </td>
						<td><%= reservation.flights.count %></td>
						<td><%= link_to "View", reservation_path(reservation), class: "btn btn-info btn-sm" %>  </td>
						<td><%= link_to "Edit", edit_reservation_path(reservation), class: "btn btn-primary btn-sm" %></td>
						<td><%= link_to "Delete", reservation_path(reservation),class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

		