<div class="container mx-2 my-2">
	<div class="row">
		<div class="col justify-content-start mt-2">
			<h4>Show Flight details</h4>
		</div>
		<div class="col input-group justify-content-end">	
			<%= link_to 'Go back to reservations', reservations_path, :class => "btn btn-primary" %>
		</div>
	</div>	
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
			<thead>
				<tr>
					<th >Username  </th>
					<th>Date  </th>
					<th>Start Time  </th>
					<th>Aircraft requested  </th>
					<th>Instructor needed  </th>
					<th colspan="3">Modify Reservation</th>
				</tr>
			</thead>
				<tbody>
						<tr>
							<td><%= @reservation.user.username %></td>
							<td><%= @reservation.reservation_date.strftime("%m/%d/%y") %>  </td>
							<td><%= @reservation.reservation_time %></td>
							<td><%= @reservation.aircraft.name %>, <%= @reservation.aircraft.short_name %>  </td>
							<td><%= @reservation.instructor_flag.humanize %>  </td>
							<td><%= link_to "Modify", edit_reservation_path(@reservation), class: "btn btn-primary btn-sm" %></td>
							<td><%= link_to "Delete", reservation_path(@reservation), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col justify-content-start my-2">
			<h4>Flight Details for this reservation</h4>
		</div>
		<div class="col input-group justify-content-end">
			<%= link_to "Add additional flights", new_reservation_flight_path(@reservation), :class => "btn btn-secondary" %>
		</div>
	</div>	
	<div class="row">
		<h8>Reservation has <%= @reservation.flights.count %> flights and <%= number_to_currency(@reservation.flights.pluck(:fees).sum) %> in tow fees</h8>
		<h8>Check to make sure flight aircraft matches reservation aircraft</h8>
	</div>
	<div class="row mb-5 pb-5">	
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Aircaft</th>
						<th>Tow Height  </th>
						<th>Flight Time  </th>
						<th>Rope Break  </th>
						<th>Tow Fee</th>
						<th colspan="2">Modify Flights</th>
					</tr>
				</thead>
				<tbody>
					<% @reservation.flights.each do |flight| %>
						<tr>
							<td><%= flight.aircraft.short_name %></td>
							<td><%= flight.tow_height %></td>
							<td><%= flight.flight_time %></td>
							<td><%= flight.rope_break.humanize %></td>
							<td><%= number_to_currency(flight.fees) %></td>
							<td><%= link_to 'Modify', edit_reservation_flight_path(@reservation, flight), class: "btn btn-primary btn-sm"  %></td>
							<td><%= link_to "Delete", [@reservation, flight], class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			<div>	
		</div>
	</div>
</div>