<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-8">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				<div class="card-header fst-italic">
					<div class="row">
						<div class="col input-group justify-content-start">
							<% if @reservation.status == 'open' %>
								<%= link_to "Edit", edit_reservation_path(@reservation), class: "btn btn-primary btn-sm" %>
							<% else %>
							<% end %>
						</div>	
						
						<div class="col input-group justify-content-end">	
							<% if @reservation.flights.count == 0 && @reservation.status == 'open' %>
								<%= link_to "Delete", reservation_path(@reservation), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %>
							<% else %>	
							<% end %>
						</div>
					</div>		
					<div class="row pt-3">
						<div class="col text-start">
							<strong>Reservation details </strong>
						</div>
						<div class="col text-end justify-content-end">
							<strong>
								<% if @reservation.status == 'open' && @reservation.reservation_date > Date.today %>
									Upcoming
								<% elsif @reservation.status == 'open' && @reservation.reservation_date < 5.days.ago %>
									Payment Past Due
								<% else %>
									<%= @reservation.status %> 
								<% end %>
							</strong>	
						</div>
					</div>
				</div>	
				<div class="card-body" style="padding: 20px 20px">
					<div class="row pb-3">
						<div class="col ">
							<strong>Pilot:</strong></strong><br>
							<%= @reservation.user.username %></strong>
						</div>
						<div class="col ">
							<strong>Date:</strong></strong><br>
							<%= @reservation.reservation_date.strftime("%m/%d/%y") %></strong>
						</div>
						<div class="col ">
							<strong>Time:</strong></strong><br>
							<%= @reservation.reservation_time %>
						</div>
						<div class="col ">
							<strong>Aircraft:</strong></strong><br>
							 <%= @reservation.aircraft.short_name %>
						</div>
					</div>
					<div class="row">
									<div class="col">
										<% if @reservation.instructor_flag == true %>
											<button type="button" class="btn btn-success m-1">Instructor?
												<span class="badge badge-primary">
													<%= @reservation.instructor_flag.humanize %>
												</span>
											</button>
										<% else %>
										<% end %>
										<% if @reservation.flights.count != 0 %>
											<button type="button" class="btn btn-success m-1">Flights 
												<span class="badge badge-primary">
													<%= @reservation.flights.count %>
												</span>
											</button>
											<button type="button" class="btn btn-secondary m-1">Tow Fees 
												<span class="badge badge-primary">
													<%= number_to_currency(@reservation.flights.pluck(:fees).sum) %>
												</span>
											</button>
										<% else %>
										<% end %>		
										<% if @reservation.status != 'open' %>
											<button type="button" class="btn btn-secondary m-1">Payment Method 
												<span class="badge badge-primary">
													<%= @reservation.method %>
												</span>
											</button>	
										<% else %>
										<% end %>
									</div>
								</div>
								<% if @reservation.flights.blank? %>
								<% else %>
								<div class="row">
									<div class="table-responsive p-0">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Glider</th>
													<th>Tow Height</th>
													<th>Flight Time</th>
													<th>Tow Fee</th>
													<th colspan="2">Modify Flights</th>
												</tr>
											</thead>
											<tbody>
												<% @reservation.flights.each do |flight| %>
												<tr>
													<td><%= flight.aircraft.short_name %></td>
													<td><%= flight.tow_height %></td>
													<td><%= flight.flight_time %></td>
													<td><%= number_to_currency(flight.fees) %></td>
													<td>
														<% if @reservation.status == 'open' %>
															<%= link_to 'Modify', edit_reservation_flight_path(@reservation, flight), class: "btn btn-primary btn-sm"  %>
														<% else %>
														<% end %>
													</td>
													<td>
														<% if @reservation.status == 'open' %>
															<%= link_to "Delete", [@reservation, flight], class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %>
														<% else %>
														<% end %>
													</td>
												</tr>
												<% end %>
											</tbody>
										</table>
									</div>
								</div>
								<% end %>
							</div>	
							<div class="card-footer text-body-secondary" >
								<div class="row">
									<% if @reservation.reservation_date <= Date.today && @reservation.status == 'open' %>
										<div class="col input-group justify-content-start">
											<%= link_to "Add flight", new_reservation_flight_path(@reservation), :class => "btn btn-secondary btn-sm" %>
										</div>
									<% else %>
									<% end %>
									<% if @reservation.reservation_date <= Date.today && @reservation.flights.count > 0 && @reservation.status == 'open' %>
										<div class="col input-group justify-content-end">
											<%= link_to "Checkout", checkout_path(:id => @reservation.id), class: "btn btn-info btn-sm" %>
										</div>
									<% else %>
									<% end %>
								</div>	
							</div>
							<div class="row pt-3">		
								<div class="col justify-content-start">
									<%= link_to 'Close', reservations_path, :class => "btn btn-primary btn-sm" %>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>				
</div>