<h1>Eagleville Soaring Club</h1>

<p>Hello <%= @reservation.user.username %>,</p>

<p>You have a reservation that is more than 5 days old that requires action:</p>
<p>1. If you did make any flights during this reservation slot, please log on and delete it.</p>
<p>2. If you did fly, please log on, add your flights, and check out to close this transaction.</p>
<p> Note: this email reminder will be sent daily until action is taken </p>
<ul>
  <li>Name: <%= @reservation.user.username %></li>
  <li>Phone Number: <%= @reservation.user.profile.phone_number %></li>
  <ul>Email: <%= @reservation.user.email %></li>
 </ul> 
<p></p>
<ul>
  <li>Aircraft Requested: <%= @reservation.aircraft.name %> - <%= @reservation.aircraft.short_name %></li>
  <li>Instructor Needed: <%= @reservation.instructor_flag.humanize %></li>
  <li>Red Tail Hawk Ride: <%= @reservation.rth_flag.humanize %></li>
  <li>Date and Time: <%= @reservation.reservation_date %> at <%= @reservation.reservation_time %></li>
</ul>
<p>Click here to log in and update this reservation: <%= link_to "Login", reservations_url(:status =>'past_due') %></p>  

Regards,
Eagleville Soaring Club
