<div id="<%= dom_id tow %>">
  <p>
    <strong>Reservation:</strong>
    <%= tow.reservation_id %>
  </p>

  <p>
    <strong>Tow date:</strong>
    <%= tow.tow_date %>
  </p>

  <p>
    <strong>Aircraft:</strong>
    <%= tow.aircraft_id %>
  </p>

  <p>
    <strong>Tows:</strong>
    <%= tow.tows %>
  </p>

  <p>
    <strong>Releases:</strong>
    <%= tow.releases %>
  </p>

  <p>
    <strong>Tach end:</strong>
    <%= tow.tach_end %>
  </p>

  <p>
    <strong>Fuel added:</strong>
    <%= tow.fuel_added %>
  </p>

  <p>
    <strong>Oil added:</strong>
    <%= tow.oil_added %>
  </p>

</div>
