<div class="container">
	<div class="row text-center justify-content-center">
  <h4>Edit tow log</h4>
    <div class="col col-sm-10 col-md-6">
      <%= render 'shared/errors', obj: @tow %>
        <%= form_for [@reservation, @tow], html: {class: "shadow p-3 mb-3 bg-info rounded", data: { turbo: false }, local: true}  do |f| %>
            <%= f.hidden_field :user_id, value: @tow.user_id %>
						<%= f.hidden_field :tow_date, value: @tow.tow_date %>
						<%= f.hidden_field :aircraft_id, value: @tow.aircraft_id %>
            <div class="form-group row m-3" >
            <%= f.label :Tach_Start_Time, class: "col-4 col-form-label" %>
            <div class="col">
              <%= f.number_field :tach_start, step: 0.01, class: "input-group-text form-control" %>
            </div>
          </div>
          <div class="form-group row m-3" >
            <%= f.label :Tach_Stop_Time, class: "col-4 col-form-label" %>
            <div class="col">
              <%= f.number_field :tach_end, step: 0.01, class: "input-group-text form-control" %>
            </div>
          </div>	
          <div class="form-group row m-3" >
            <%= f.label :Count_of_tows, class: "col-4 col-form-label" %>
            <div class="col">
              <%= f.number_field :tows, class: "input-group-text form-control" %>
            </div>
          </div>	
          <div class="form-group row m-3" >
            <%= f.label :Count_of_releases, class: "col-4 col-form-label" %>
            <div class="col">
              <%= f.number_field :releases, class: "input-group-text form-control" %>
            </div>
          </div>
          <div class="form-group row m-3" >
            <%= f.label :Fuel_added, class: "col-4 col-form-label" %>
            <div class="col">
              <%= f.number_field :fuel_added, class: "input-group-text form-control" %>
            </div>
          </div>
          <div class="form-group row m-3" >
            <%= f.label :Oil_added, class: "col-4 col-form-label" %>
            <div class="col">
              <%= f.number_field :oil_added, class: "input-group-text form-control" %>
            </div>
          </div>	
          <%= link_to "Close", reservations_tow_path, :class => "btn btn-secondary" %>
          <%= f.submit class:"btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>