<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-10">
      <div class="row justify-content-center">
				<div class="col">
					<% if @reservation.status == 'open' %>
						<h4>Confirm checkout details for <%= @reservation.user.username %>'s reservation on <%= @reservation.reservation_date.strftime("%m/%d/%y") %> </h4>
					<% else %>
						<h4>Checkout already submitted for <%= @reservation.user.username %>'s reservation on <%= @reservation.reservation_date.strftime("%m/%d/%y") %> </h4>
					<% end %>
				</div>
				<div class="row">
					<div class="col">
						<div class="card shadow p-3 mb-5 bg-white rounded">
							<div class="row card-header fst-italic">
								<div class="row pt-3">
									<div class="col text-start">
										<strong>Reservation details </strong>
									</div>
									<div class="col text-end justify-content-end">
										<strong>
											<% if @reservation.status == 'open' && @reservation.reservation_date > Date.today %>
												Upcoming
											<% elsif @reservation.status == 'open' && @reservation.reservation_date < 5.days.ago %>
												Payment Past Due
											<% else %>
												<%= @reservation.status %> 
											<% end %>
										</strong>	
									</div>
								</div>		
							</div>	
							<div class="row">
								<div class="col input-group justify-content-start">
								</div>	
								<div class="col input-group justify-content-end">	
								</div>
							</div>
							<div class="card-body" style="padding: 20px 20px">
								<div class="row pb-3">
									<div class="col ">
										<strong>Pilot:</strong></strong><br>
										<%= @reservation.user.username %></strong>
									</div>
								<div class="col ">
									<strong>Date:</strong></strong><br>
									<%= @reservation.reservation_date.strftime("%m/%d/%y") %></strong>
								</div>
								<div class="col ">
									<strong>Time:</strong></strong><br>
									<%= @reservation.reservation_time %>
								</div>
								<div class="col ">
									<strong>Aircraft:</strong></strong><br>
									<%= @reservation.aircraft.short_name %>
								</div>
							</div>
							<div class="row">
									<div class="col text-start justify-content-start">
										<% if @reservation.instructor_flag == true %>
											<button type="button" class="btn btn-success m-1">Instructor?
												<span class="badge badge-primary">
													<%= @reservation.instructor_flag.humanize %>
												</span>
											</button>
										<% else %>
										<% end %>
										<% if @reservation.flights.count != 0 %>
											<button type="button" class="btn btn-success m-1">Flights 
												<span class="badge badge-primary">
													<%= @reservation.flights.count %>
												</span>
											</button>
											<button type="button" class="btn btn-secondary m-1">Tow Fees 
												<span class="badge badge-primary">
													<%= number_to_currency(@reservation.flights.pluck(:fees).sum) %>
												</span>
											</button>
										<% else %>
										<% end %>		
										<% if @reservation.status != 'open' %>
											<button type="button" class="btn btn-secondary m-1">Payment Method 
												<span class="badge badge-primary">
													<%= @reservation.method %>
												</span>
											</button>	
										<% else %>
										<% end %>
									</div>
								</div>
							<div class="row">
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Glider</th>
												<th>Tow Height  </th>
												<th>Flight Time  </th>
												<th>Tow Fee</th>
											</tr>
										</thead>
										<tbody>
											<% @reservation.flights.each do |flight| %>
											<tr>
												<td><%= flight.aircraft.short_name %></td>
												<td><%= flight.tow_height %></td>
												<td><%= flight.flight_time %></td>
												<td><%= number_to_currency(flight.fees) %></td>
											</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row card-footer text-body-secondary">
								<div class="col input-group justify-content-center m-2">
									<%= link_to 'Back to Reservation', reservation_path(@reservation), :class => "btn btn-primary" %>
								</div>
								<div class="col input-group justify-content-center m-2">
								<% if @reservation.status == 'open' %>
									<%= link_to 'Pay via RTH/Cash/Check', edit_checkout_path(id: @reservation.id), :class => "btn btn-primary" %>
								<% else %>
								<% end %>
							</div>
							<div class="col input-group justify-content-end m-2">
								<% if @reservation.status == 'open' %>
									<%= render partial: 'pay/stripe/checkout_button', locals: {
										session: @checkout_session,
										title: 'Stripe Checkout', class: "btn btn-primary"
									} %>
								<% else %>
								<% end %>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>									
									

