<%= form_with(model: @membership_user, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
  <div class="form-group row m-3" >
    <%= f.hidden_field :user_id, value: @unassigned_user_id %>
    
      <%= f.label :user_id, class: "col-4 col-form-label" %>
    <div class="col form-control">
      <%= User.find(@unassigned_user_id).username %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :membership_type, class: "col-4 col-form-label" %>
    <div class="col">
    <%= f.collection_select(:membership_id, Membership.where(active_flag: true), 'id', 'membership_type', {}, {class: "input-group-text form-control"}) %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :join_date, class: "col-4 col-form-label" %>
    <div class="col">
    <%= f.date_field :joined_date, class: "input-group-text form-control" %>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :renewal_date, class: "col-4 col-form-label" %>
    <div class="col">
    <%= f.date_field :renewal_date, class: "input-group-text form-control" %>
    <p class="text-white"><small>Set Renewal Date to same date as Joined Date</small></p>
    </div>
  </div>
  <div class="form-group row m-3" >
      <%= f.label :active_flag, class: "col-4 col-form-label" %>
    <div class="col">
    <%= f.check_box :active_flag, class: "form-check-label" %>
    </div>
  </div>
  <%= link_to "Close", membership_users_path, :class => "btn btn-light" %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>