<div class="container my-2 mx-2">
  <h4>List of User Memberships</h4>
  <h8>Memberships will also be editable via user profiles</h8>
    <div class="table-responsive">
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Membership</th>
            <th>Renews on</th>
            <th>Time left </th>
            <th>Next Renewal</th>
            <th>Notify user on</th>
            <th>Active Flag</th>
            <th colspan="2">Modify</th>
          </tr>
        </thead>
          <tbody>
              <% @membership_users.each do |membership_user| %>
                <tr>
                  <td><%= membership_user.user.username %></td>
                  <td><%= membership_user.user.email %></td>
                  <td><%= membership_user.membership.membership_type %></td>
                  <td><%= membership_user.renewal_date.strftime("%m/%d/%y") %></td>
                  <td><%= (Date.today..(membership_user.renewal_date + membership_user.membership.renewal_period)).to_a.size %> days</td>
                    <% next_renewal_date = membership_user.renewal_date + membership_user.membership.renewal_period %>
                  <td><%= next_renewal_date.strftime("%m/%d/%y") %></td>
                    <% renewal_notification_date = membership_user.renewal_date + (membership_user.membership.renewal_period - 30) %>
                  <td><%= renewal_notification_date.strftime("%m/%d/%y") %></td>
                  <td><%= membership_user.active_flag %></td>
                  <td><%= link_to 'Edit', edit_membership_user_path(membership_user), :class => "btn btn-primary btn-sm" %></td>
                  <td><%= link_to 'Delete', membership_user_path(membership_user),class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
                </tr>
              <% end %>
          </tbody>
      </table>
  </div>
  <div class="mb-5 pb-5">
    <%= link_to 'Add a new membership to a user', new_membership_user_path, :class => "btn btn-secondary btn-sm" %> 
  </div
</div>