<div class="container">
  <div class="row text-center">
    <div class="col justify-content-start">
      <div class="row text-center justify-content-center">
        <div class="col col-sm-12 col-md-12">
          <% @memberships.each do |membership| %>
              <button type="button" class="btn btn-secondary m-1"><%= membership.membership_type%> Members
                <span class="badge badge-primary">
                  <%= MembershipUser.where(membership_id: membership.id, active_flag: true).count %>
                </span>
              </button>
          <% end %>
          <button type="button" class="btn btn-secondary m-1">All Active Members
            <span class="badge badge-primary">
              <%= @membership_users.where(active_flag: true).count %>
            </span>
          </button>
        </div>  
      </div>  
      <% if @unassigned_users.present? %>
      <div class="row justify-content-center mt-2">
				<h4>Unassigned Users</h4>
        <div class="col-sm-12 col-md-12 table-responsive">
					<table class="table table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Membership</th>
                <th colspan="2">Update</th>
              </tr>
            </thead>
            <tbody>
                <% @unassigned_users.each do |unassigned_user| %>
                  <tr>
                    <td><%= unassigned_user.username %></td>
                    <td><%= unassigned_user.email %></td>
                    <td>No Membership</td>
                    <td><%= link_to 'Assign', new_membership_user_path(:id => unassigned_user.id), :class => "btn btn-primary" %></td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
      <% end %>
      <div class="row justify-content-center">
				<div class="col mt-3">
					<h4>Users with Memberships</h4>
				</div>
				<div class="col">
					<div class="row mt-2">
						<div class="col flickr_pagination">	
							<%= will_paginate @membership_users, :container => false %>
						</div>	
					</div>		
				</div>
        <div class="row">
          <div class="col">	
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Membership</th>
                    <th>Joined on</t>
                    <th>Renewed on</th>
                    <th>Time left </th>
                    <th>Next Renewal</th>
                    <th>Notify user on</th>
                    <th>Active Flag</th>
                    <th colspan="3">Modify</th>
                  </tr>
                </thead>
                <tbody>
                    <% @membership_users.each do |membership_user| %>
                      <tr>
                        <td><%= membership_user.user.username %></td>
                        <td><%= membership_user.membership.membership_type %></td>
                        <td><%= membership_user.joined_date.strftime("%m/%d/%y") %></td>
                        <td><%= membership_user.renewal_date.strftime("%m/%d/%y") %></td>
                        <td><%= (Date.today..(membership_user.renewal_date + membership_user.membership.renewal_period)).to_a.size %> days</td>
                          <% next_renewal_date = membership_user.renewal_date + membership_user.membership.renewal_period %>
                        <td><%= next_renewal_date.strftime("%m/%d/%y") %></td>
                          <% renewal_notification_date = membership_user.renewal_date + (membership_user.membership.renewal_period - 30) %>
                        <td><%= renewal_notification_date.strftime("%m/%d/%y") %></td>
                        <td><%= membership_user.active_flag %></td>
                          <% if membership_user.renewal_date + membership_user.membership.renewal_period <= 30.days.from_now %>
                            <td><%= link_to 'Renew', edit_membership_user_path(membership_user, :status => 'renew'), :class => "btn btn-info btn-sm" %></td>
                          <% else %>
                            <td><%= link_to 'Renew', edit_membership_user_path(membership_user, :status => 'renew'), :class => "btn btn-gray btn-sm disabled" %></td>
                          <% end %>  
                        <td><%= link_to 'Edit', edit_membership_user_path(membership_user), :class => "btn btn-primary btn-sm" %></td>
                        <td><%= link_to 'Delete', membership_user_path(membership_user),class: "btn btn-warning btn-sm", data: {turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
                      </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>      
</div>