<%= form_with(model: current_user, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
  <%= hidden_field_tag :previous_request, request.referer %>

  <div class="form-group row m-3">
    <%= f.label :username, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.text_field :username, class: "input-group-text form-control" %>
    </div>
  </div>
  <div class="form-group row m-3" >
    <%= f.label :email, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.text_field :email, class: "input-group-text form-control" %>
    </div>
  </div>
  <%= f.fields_for :profile, current_user.profile do |f| %>
    <div class="form-group row m-3" >
      <%= f.label :phone_number, class: "col-4 col-form-label" %>
      <div class="col">
        <%= f.text_field :phone_number, class: "input-group-text form-control" %>
      </div>
    </div>
    <div class="form-group row m-3" >
    <%= f.label :date_of_birth, class: "col-4 col-form-label" %>
    <div class="col">
      <%= f.date_field :date_of_birth, class: "input-group-text form-control" %>
    </div>
  </div>
  <div class="form-group row m-3" >
  <%= f.label :street_address, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.text_field :street_first_line, class: "input-group-text form-control" %>
  </div>
  </div>
  <div class="form-group row m-3" >
  <%= f.label :street_address_2, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.text_field :street_second_line, class: "input-group-text form-control" %>
  </div>
  </div>
  <div class="form-group row m-3" >
  <%= f.label :city, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.text_field :city, class: "input-group-text form-control" %>
  </div>
  </div>
  <div class="form-group row m-3" >
  <%= f.label :state, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.text_field :state, class: "input-group-text form-control" %>
  </div>
  </div>
  <div class="form-group row m-3" >
  <%= f.label :zip_code, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.text_field :zip, class: "input-group-text form-control" %>
  </div>
  </div>
  <div class="form-group row m-3" >
  <%= f.label :emergency_contact, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.text_field :emergency_contact, class: "input-group-text form-control" %>
  </div>
  </div>
  <div class="form-group row m-3" >
  <%= f.label :emergency_phone, class: "col-4 col-form-label" %>
  <div class="col">
    <%= f.text_field :emergency_phone, class: "input-group-text form-control" %>
  </div>
  </div>
  <% end %>
  <%= link_to "Close", profile_path(current_user),  class: "btn btn-light" %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>