<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col col-sm-12 col-md-10">
      <div class="row justify-content-center">
				<div class="col-12 col-md-6">
					<h4>ESC Member list</h4>
					<p class="text-muted">Member info displayed is limited to contact details, more info is available to admin roles and individual members via Details button</p>
				</div>
				<div class="col">
					<div class="row mt-2">
						<div class="col flickr_pagination">	
							<%= will_paginate @users, :container => false %>
						</div>	
					</div>		
				</div>	
      <div class="row">
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Profile&nbsp;Pic</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th colspan="1">User Details</th>
            </tr>
          </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= gravatar_for user, size: 50 %></td>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><a href="tel:<%= user.profile.phone_number.nil? ? '' : user.profile.phone_number %>"><%= user.profile.phone_number.nil? ? '' : user.profile.phone_number.insert(-8, '-').insert(-5, '-') %></a></td>
                  <td>
                  <% if current_user.id != user.id && !current_user.permission.user_admin? %>
                    <%= link_to 'Details', profile_path(user.id), class: "btn btn-info btn-sm disabled"%>
                  <% else %>
                    <%= link_to 'Details', profile_path(user.id), class: "btn btn-info btn-sm"%>
                  <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        </div>
      </div> 
    </div>     
  </div>
 </div>   