<div class="container mt-2 mb-5 pb-5">
	<div class="row">
		<div class="col justify-content-center">
      <div class="col-sm-10 col-md-8 ">
			  <div class="card shadow p-3 mb-5 bg-white rounded">
				  <div class="card-header fst-italic">
            <div class="row">
              <div class="col-2 text-start justify-content-start">
                <%= gravatar_for current_user, size: 100 %>
              </div>
                <div class="col text-end justify-content-end">
                  <%= link_to 'Update Personal Info', edit_profile_path(current_user), class: "btn btn-primary btn-sm"%>
              </div>
            </div>  
          </div>
          <div class="card-body justify-content-start">
            <ul class="list-group list-group-flush ">
              <li class="list-group-item lead pb-3">Personal Info</li>
                <d1 class="row">
                  <dt class="col-sm-4 ps-4 pt-2">Username</dt>
                  <dd class="col-sm-8 pt-2"><%= current_user.username %></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Email</dt>
                  <dd class="col-sm-8 pt-2"><%= current_user.email %></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Phone Number</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Date of Birth</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Address</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Address 2</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">City</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">State</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Zip Code</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Emergency Contact</dt>
                  <dd class="col-sm-8 pt-2"></dd>
                  <dt class="col-sm-4 ps-4 pt-2">Emergency Phone</dt>
                  <dd class="col-sm-8 pt-2 pb-4"></dd>  
                  
              </d1> 
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead">Club Info</li>
                <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Current Membership</dt>
                  <dd class="col-sm-8 pt-2"><%= @membership_info.membership_type %> member: renews on <%= @my_renewal_date.strftime("%a, %b %d, %Y") %>  </dd>

                <dt class="col-sm-4 ps-4 pt-2">Aircraft Privileges</dt>
                  <dd class="col-sm-8 pt-2"><%= current_user.privileges_in.map {|x| x.values[1]} %>  </dd>

                <dt class="col-sm-4 ps-4 pt-2">Site Permissions</dt>
                  <dd class="col-sm-8 pt-2">
                    <p>Instructor: <%= current_user.permission.instructor.humanize %></p>
                    <p>User admin: <%= current_user.permission.user_admin.humanize %></p>
                    <p>Club admin: <%= current_user.permission.club_admin.humanize %></p>
                    <p>Site admin: <%= current_user.permission.site_admin.humanize %></p>
                    <p>Global admin: <%= current_user.permission.global_admin.humanize %></p>
                  </dd>
                  <dd class="col-sm-8 pt-2">
                    


          </div>
          <div class="row card-footer text-body-secondary">


          </div>






    </div>
   </div>
 </div>   