<div class="container">
	<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header fst-italic">
          <div class="row">
            <div class="col ps-0 justify-content-start">
              <%= gravatar_for @user, size: 100 %>
            </div>
            <div class="col pt-3 justify-content-end">
              <%= link_to 'Update Personal Info', edit_profile_path, class: "btn btn-primary btn-sm"%><br>
              <small>Manage your profile pic here: <a class="badge badge-info" target="_blank" rel="noopener noreferrer" href="https://gravatar.com/">Gravatar</a><br>
              (use same email address as login)</small>

            </div>
          </div> 
          
        </div>
        <div class="card-body" style="padding: 10px 10px">
          <ul class="list-group list-group-flush" id="personal-info">
            <li class="list-group-item lead pb-3">Personal Info</li>
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Username</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.username %></dd>
                <dt class="col-sm-4 ps-4 pt-2">Email</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.email %></dd>
                <dt class="col-sm-4 ps-4 pt-2">Phone Number</dt>
                  <dd class="col-sm-8 pt-2"><a href="tel:<%= @user.profile.phone_number.blank? ? '' : @user.profile.phone_number %>"><%= @user.profile.phone_number.blank? ? '' : @user.profile.phone_number.insert(-8, '-').insert(-5, '-') %></a></dd>
                <dt class="col-sm-4 ps-4 pt-2">Date of Birth</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.profile.date_of_birth.blank? ? '' : @user.profile.date_of_birth.strftime("%x") %></dd>
                <dt class="col-sm-4 ps-4 pt-2">Address</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.profile.street_first_line.blank? ? '' : @user.profile.street_first_line %></dd>
                <dt class="col-sm-4 ps-4 pt-2">Address 2</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.profile.street_second_line.blank? ? '' : @user.profile.street_second_line %></dd>
                <dt class="col-sm-4 ps-4 pt-2">City</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.profile.city.blank? ? '' : @user.profile.city %></dd>
                <dt class="col-sm-4 ps-4 pt-2">State</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.profile.state.blank? ? '' : @user.profile.state %></dd>
                <dt class="col-sm-4 ps-4 pt-2">Zip Code</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.profile.zip.blank? ? '' : @user.profile.zip %></dd>
                <dt class="col-sm-4 ps-4 pt-2">Emergency Contact</dt>
                  <dd class="col-sm-8 pt-2"><%= @user.profile.emergency_contact.blank? ? '' : @user.profile.emergency_contact %></dd>
                <dt class="col-sm-4 ps-4 pt-2">Emergency Phone</dt>
                  <dd class="col-sm-8 pt-2"><a href="tel:<%= @user.profile.emergency_phone.blank? ? '' : @user.profile.emergency_phone %>"><%= @user.profile.emergency_phone.blank? ? '' : @user.profile.emergency_phone.insert(-8, '-').insert(-5, '-') %></a></dd>
              
            </d1> 
          </ul>  
          <ul class="list-group list-group-flush" id="currency-section">
            <li class="list-group-item lead">Flight Log</li>
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Prior 30 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(user_id: @user.id, flight_date: 30.days.ago..Date.today).count %>
                      </span>
                    </button>  
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary">  
                        <%= Flight.where(user_id: @user.id, flight_date: 30.days.ago..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(user_id: @user.id, flight_date: 30.days.ago..Date.today).sum(:flight_time)%60/6 %>
                        </span>
                    </button>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Prior 60 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(user_id: @user.id, flight_date: 60.days.ago..Date.today).count %>
                      </span>
                    </button>  
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary"> 
                        <%= Flight.where(user_id: @user.id, flight_date: 60.days.ago..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(user_id: @user.id, flight_date: 60.days.ago..Date.today).sum(:flight_time)%60/6 %>
                      </span>
                    </button>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Prior 90 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(user_id: @user.id, flight_date: 90.days.ago..Date.today).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary">  
                        <%= Flight.where(user_id: @user.id, flight_date: 90.days.ago..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(user_id: @user.id, flight_date: 90.days.ago..Date.today).sum(:flight_time)%60/6 %>
                      </span>
                    </button>
                  </dd> 
                <dt class="col-sm-4 ps-4 pt-2">Year to date</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(user_id: @user.id, flight_date: Date.today.beginning_of_year..Date.today).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary"> 
                        <%= Flight.where(user_id: @user.id, flight_date: Date.today.beginning_of_year..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(user_id: @user.id, flight_date: Date.today.beginning_of_year..Date.today).sum(:flight_time)%60/6 %>
                      </span>
                    </button>
                  </dd>    
              </d1>
            </li>
          </ul>  
          
          <% if @user.permission.towpilot? %>
          <ul class="list-group list-group-flush" id="towpilot-section">
            <li class="list-group-item lead">Tow Pilot Log</li>
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Prior 30 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: 30.days.ago..Date.today).distinct(:tow_date).count : 0 %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Tows 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: 30.days.ago..Date.today).sum(:tows) : 0 %>
                      </span>
                    </button>  
                    <button type="button" class="btn btn-success m-1">Towing Hours 
                      <span class="badge badge-primary">  
                        <%= Tow.where(user_id: @user.id).present? ? (Tow.where(user_id: @user.id, tow_date: 30.days.ago..Date.today).last.tach_end - Tow.where(user_id: @user.id, tow_date: 30.days.ago..Date.today).first.tach_start).round(2) : 0 %>
                        </span>
                    </button>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Prior 60 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: 60.days.ago..Date.today).distinct(:tow_date).count : 0 %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Tows 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: 60.days.ago..Date.today).sum(:tows) : 0 %>
                      </span>
                    </button>  
                    <button type="button" class="btn btn-success m-1">Towing Hours 
                      <span class="badge badge-primary"> 
                        <%= Tow.where(user_id: @user.id).present? ? (Tow.where(user_id: @user.id, tow_date: 60.days.ago..Date.today).last.tach_end - Tow.where(user_id: @user.id, tow_date: 60.days.ago..Date.today).first.tach_start).round(2) : 0 %>
                      </span>
                    </button>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Prior 90 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: 90.days.ago..Date.today).distinct(:tow_date).count : 0 %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Tows 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: 90.days.ago..Date.today).sum(:tows) : 0 %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-success m-1">Towing Hours 
                      <span class="badge badge-primary">  
                        <%= Tow.where(user_id: @user.id).present? ? (Tow.where(user_id: @user.id, tow_date: 90.days.ago..Date.today).last.tach_end - Tow.where(user_id: @user.id, tow_date: 90.days.ago..Date.today).first.tach_start).round(2) : 0 %>
                      </span>
                    </button>
                  </dd> 
                <dt class="col-sm-4 ps-4 pt-2">Year to date</dt>
                  <dd class="col-sm-8 pt-2">
                  <% if Tow.where(user_id: @user.id, tow_date: Date.today.beginning_of_year..Date.today).present? %>
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: Date.today.beginning_of_year..Date.today).distinct(:tow_date).count : 0 %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Tows 
                      <span class="badge badge-primary">
                        <%= Tow.where(user_id: @user.id).present? ? Tow.where(user_id: @user.id, tow_date: Date.today.beginning_of_year..Date.today).sum(:tows) : 0 %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-success m-1">Towing Hours 
                      <span class="badge badge-primary"> 
                        <%= Tow.where(user_id: @user.id).present? ? (Tow.where(user_id: @user.id, tow_date: Date.today.beginning_of_year..Date.today).last.tach_end - Tow.where(user_id: @user.id, tow_date: Date.today.beginning_of_year..Date.today).first.tach_start).round(2) : 0 %>
                      </span>
                      <% else %>
                      <% end %>
                    </button>
                  </dd>    
              </d1>
            </li>
          </ul> 
          <% else %>
          <% end %>

          <% if @user.permission.instructor? %>
          <ul class="list-group list-group-flush" id="instructor-section">
            <li class="list-group-item lead">Instructor Log</li>
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Prior 30 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: 30.days.ago..Date.today).distinct(:flight_date).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: 30.days.ago..Date.today).count %>
                      </span>
                    </button>  
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary">  
                        <%= Flight.where(instructor_id: @user.id, flight_date: 30.days.ago..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(instructor_id: @user.id, flight_date: 30.days.ago..Date.today).sum(:flight_time)%60/6 %>
                        </span>
                    </button>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Prior 60 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: 60.days.ago..Date.today).distinct(:flight_date).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: 60.days.ago..Date.today).count %>
                      </span>
                    </button>  
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary"> 
                        <%= Flight.where(instructor_id: @user.id, flight_date: 60.days.ago..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(instructor_id: @user.id, flight_date: 60.days.ago..Date.today).sum(:flight_time)%60/6 %>
                      </span>
                    </button>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Prior 90 days</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: 90.days.ago..Date.today).distinct(:flight_date).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: 90.days.ago..Date.today).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary">  
                        <%= Flight.where(instructor_id: @user.id, flight_date: 90.days.ago..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(instructor_id: @user.id, flight_date: 90.days.ago..Date.today).sum(:flight_time)%60/6 %>
                      </span>
                    </button>
                  </dd> 
                <dt class="col-sm-4 ps-4 pt-2">Year to date</dt>
                  <dd class="col-sm-8 pt-2">
                    <button type="button" class="btn btn-secondary m-1">Days 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: Date.today.beginning_of_year..Date.today).distinct(:flight_date).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-secondary m-1">Flights 
                      <span class="badge badge-primary">
                        <%= Flight.where(instructor_id: @user.id, flight_date: Date.today.beginning_of_year..Date.today).count %>
                      </span>
                    </button>
                    <button type="button" class="btn btn-success m-1">Flight Hours 
                      <span class="badge badge-primary"> 
                        <%= Flight.where(instructor_id: @user.id, flight_date: Date.today.beginning_of_year..Date.today).sum(:flight_time)/60 %>.<%= Flight.where(instructor_id: @user.id, flight_date: Date.today.beginning_of_year..Date.today).sum(:flight_time)%60/6 %>
                      </span>
                    </button>
                  </dd>    
              </d1>
            </li>
          </ul> 
          <% else %>
          <% end %>

          <ul class="list-group list-group-flush">
            <li class="list-group-item lead">Club Info</li>
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Current Membership</dt>
                  <dd class="col-sm-8 pt-2">
                  <% if @user.membership_users.blank? %>
                    No membership has been assigned
                  <% elsif has_membership == false %>
                    Membership is not active
                  <% else %>     
                    <span class="badge badge-pill badge-success"><%= @membership.membership_type %> member</span> renews on <%= @renewal_date.strftime("%a, %b %d, %Y") %>
                  <% end %>  
                    </dd>
                <dt class="col-sm-4 ps-4 pt-2">Aircraft Privileges</dt>
                  <dd class="col-sm-8 pt-2">
                    <% AircraftUser.where(user_id: @user.id).each do |aircraftuser| %>
                      <div class="badge badge-pill badge-success">
                        <%= Aircraft.find(aircraftuser.aircraft_id).short_name  %>
                        </div>
                    <% end %>

                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Site Permissions</dt>
                  <dd class="col-sm-8 pt-2">
                    <span class="badge badge-pill badge-primary ">Instructor: <%= @user.permission.instructor.humanize %></span>
                    <span class="badge badge-pill badge-primary ">Tow Pilot: <%= @user.permission.towpilot.humanize %></span>
                    <span class="badge badge-pill badge-primary ">Commercial Pilot: <%= @user.permission.commercial.humanize %></span>
                    <span class="badge badge-pill badge-primary ">User admin: <%= @user.permission.user_admin.humanize %></span>
                    <span class="badge badge-pill badge-primary ">Club admin: <%= @user.permission.club_admin.humanize %></span>
                    <span class="badge badge-pill badge-primary ">Site admin: <%= @user.permission.site_admin.humanize %></span>
                    <span class="badge badge-pill badge-primary ">Global admin: <%= @user.permission.global_admin.humanize %></span>
                  </dd>
                  <dd class="col-sm-6 pt-2">
                </d1>
              </ul>
            </div>   
            <div class="row card-footer text-body-secondary">
            </div>
          </div>
        </div>    
      </div>
    </div>    
   </div>
 </div>   