<header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
      <%= image_tag('Eagleville_Logo_Color.png', :width => '100') %>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
            <%= image_tag('Eagleville_Logo_Color.png', :width => '100') %>
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile
            </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'View My Profile', profile_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to 'Club Member list', profile_index_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'How to use this site', how_to_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Release Notes', home_index_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Club Documents', club_docs_path, class: "dropdown-item" %></li>
          </ul>
        <% else %>
            <a class="nav-link disabled" aria-disabled="true">Profile</a>
          </li>
        <% end %> 
        <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservations
          </a>
          <ul class="dropdown-menu">
            <li><% if has_membership == true %><%= link_to 'Add New Reservation', new_reservation_path, class: "dropdown-item" %><% else %><%= link_to 'Membership Inactive', new_reservation_path, class: "dropdown-item disabled" %><% end %></li>
            <li><%= link_to 'View My Schedule', reservations_path, class: "dropdown-item" %></li>
            <li><%= link_to 'View Club Schedule', reservations_club_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Upcoming', reservations_path(:status => 'upcoming'), class: "dropdown-item" %></li>
            <li><%= link_to 'Past Due', reservations_path(:status =>'past_due'), class: "dropdown-item" %></li>
            <li><%= link_to 'Pending', reservations_path(:status =>'pending'), class: "dropdown-item" %></li>
            <li><%= link_to 'Paid', reservations_path(:status => 'paid'), class: "dropdown-item" %></li>
          </ul>
        <% else %>
          <a class="nav-link disabled" aria-disabled="true">Reservations</a>
        <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.towpilot? || current_user.permission.instructor? || current_user.permission.commercial? %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resource Scheduler
              </a>
              <ul class="dropdown-menu">
                
                <li><%= link_to 'Tow Pilot Schedule', reservations_tow_path, class: "dropdown-item" %></li>              
                <li><%= link_to 'Instructor Schedule', reservations_cfi_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Comm. Pilot Schedule', reservations_comm_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Send Field Ops Status', field_status_updates_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.user_admin? %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Users
                </a>
                <ul class="dropdown-menu">
                <li><%= link_to 'Users List', users_path, class: "dropdown-item" %></li>
                <li><%= link_to 'User Permissions', permissions_path, class: "dropdown-item" %></li>
                <li><%= link_to 'User Membership', membership_users_path, class: "dropdown-item" %></li>
              </ul>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Users</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.club_admin? %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Aircraft
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Aircraft List', aircrafts_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Aircraft Users', aircraft_users_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Aircraft</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.club_admin? || current_user.permission.towpilot? || current_user.permission.instructor? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Site
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Hours of Operation', hours_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Days of Operation', days_path, class: "dropdown-item" %></li>
                 <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Tow Fee Schedule', towfees_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Membership Types', memberships_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Site</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.club_admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to 'Reservation logs', admin_reservations_path, class: "dropdown-item" %></li>
              <li><%= link_to 'Flight logs', admin_flights_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Inbound Email logs', admin_emails_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Trello (requires login)', 'https://trello.com/w/eaglevillesoaringclub', target: '_new', class: "dropdown-item" %></li>
                <li><%= link_to 'Sidekiq Monitor', '/sidekiq', target: '_new', class: "dropdown-item" %></li>
                <li><%= link_to 'Instructor logs', admin_instructors_path, class: "dropdown-item disabled" %></li>
              </ul>
            </li>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Admin</a>
          <% end %>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <%= button_to 'Logout', logout_path, class: "nav-link", method: :delete %>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log In', login_path, class: "nav-link" %>
          </li>
        <% end %>
          
        </ul>
      </div>
    </div> 
    </nav>   
  </header>
  <script src="../simple_landing_page/vendors/jquery/jquery.min.js"></script>
  <script src="../simple_landing_page/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../simple_landing_page/vendors/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="../simple_landing_page/vendors/aos/js/aos.js"></script>
  <script src="../simple_landing_page/js/landingpage.js"></script>
