<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
  <%= link_to "SOAR BASE", home_index_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile
            </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'View My Profile', profile_index_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Club Member list', members_path, class: "dropdown-item" %></li>
          </ul>
        <% else %>
            <a class="nav-link disabled" aria-disabled="true">Profile</a>
          </li>
        <% end %>
      
        <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservations
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'View My reservations', reservations_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'View Club reservations', reservations_club_path, class: "dropdown-item" %></li>
          </ul>
        <% else %>
          <a class="nav-link disabled" aria-disabled="true">Reservations</a>
        <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.instructor? %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Instructors
                </a>
                <ul class="dropdown-menu">
                <a class="nav-link disabled" aria-disabled="true">Instructor List</a>
                <li><hr class="dropdown-divider"></li>
                <a class="nav-link disabled" aria-disabled="true">My Students</a>
                <li><hr class="dropdown-divider"></li>
              </ul>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Instructors</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.user_admin? %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Users
                </a>
                <ul class="dropdown-menu">
                <li><%= link_to 'Users List', users_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'User Permissions', permissions_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'User Membership', membership_users_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="nav-link disabled" aria-disabled="true">Profile Details</a></li>
              </ul>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Users</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.club_admin? %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Aircraft
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Aircraft List', aircrafts_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Aircraft Users', aircraft_users_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Aircraft</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? && current_user.permission.club_admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Club
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to 'Send Field Ops Status', field_status_updates_path, class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Hours of Operation', hours_path, class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Days of Operation', days_path, class: "dropdown-item" %></li>
                 <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Tow Fee Schedule', towfees_path, class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Membership Types', memberships_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <a class="nav-link disabled" aria-disabled="true">Club</a>
          <% end %>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <%= button_to 'Logout', logout_path, class: "nav-link", method: :delete %>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log In', login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <!-- <form class="d-flex" role="search"> 
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>