<!DOCTYPE html>
<html>
  <head>
    <title>SoarBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3"></script>

    <link rel="stylesheet" href="../simple_landing_page/vendors/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../simple_landing_page/vendors/owl-carousel/css/owl.theme.default.css">
    <link rel="stylesheet" href="../simple_landing_page/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../simple_landing_page/vendors/aos/css/aos.css">
    <link rel="stylesheet" href="../simple_landing_page/css/style.min.css">

  </head>
  
  <% if logged_in? %>
  <body class="d-flex flex-column" id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
    <%= render 'layouts/navigation' %>
    <div id="page-content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  <% else %>
    <body class="d-flex flex-column" id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
      <%= yield %>
  <% end %>

</html>
