<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Eagleville Soaring Club</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3"></script>

    <link rel="stylesheet" href="../simple_landing_page/vendors/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../simple_landing_page/vendors/owl-carousel/css/owl.theme.default.css">
    <link rel="stylesheet" href="../simple_landing_page/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../simple_landing_page/vendors/aos/css/aos.css">
    <link rel="stylesheet" href="../simple_landing_page/css/style.min.css">

  </head>
  <body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">

  <% if logged_in? %>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  <% else %>
      <%= render 'layouts/messages' %>
      <%= yield %>
  <% end %>

</html>
